{% extends "auth/base.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    {{ super() }}
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-floating mb-3">
            {{ form.old_password(class_='form-control form-control-sm', style='border-radius: .5rem') }}
            {{ form.old_password.label() }}
        </div>
        <div class="form-floating mb-3">
            {{ form.password(class_='form-control form-control-sm', style='border-radius: .5rem') }}
            {{ form.password.label() }}
        </div>
        <div class="form-floating mb-3">
            {{ form.confirm_password(class_='form-control form-control-sm', style='border-radius: .5rem') }}
            {{ form.confirm_password.label() }}
        </div>
        {{ form.submit(class_='btn btn-success w-100 mb-3') }}
    </form>
{% endblock %}
