{% extends "auth/base.html" %}

{% block title %}
    Reset Your Password
{% endblock %}

{% block content %}
    {{ super() }}
    <p class="mb-3">Please enter your email address - if it is associated with an account we will send you instructions
        to reset your password.</p>

    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-floating mb-3">
            {{ form.email(class_='form-control', style='border-radius: .5rem') }}
            {{ form.email.label() }}
        </div>
        {{ form.submit(class_='btn btn-success w-100 mb-3') }}
    </form>

{% endblock %}
