asn1crypto==1.4.0
Authlib==1.0.0rc1
bidict==0.21.4
bleach==4.1.0
Bootstrap-Flask==2.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.3
cryptography==36.0.1
dnspython==2.2.0
eventlet==0.33.0
Flask==2.0.3
Flask-Login==0.5.0
Flask-Mobility==1.1.0
Flask-Moment==1.0.2
flask-sock==0.4.0
Flask-SocketIO==5.1.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
https://github.com/benoitc/gunicorn/archive/ff58e0c6da83d5520916bc4cc109a529258d76e1.zip#egg=gunicorn==20.1.0
h11==0.13.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
Markdown==3.3.6
MarkupSafe==2.0.1
packaging==21.3
pg8000==1.24.0
pycparser==2.21
pyparsing==3.0.7
python-engineio==4.3.1
python-socketio==5.5.2
requests==2.27.1
scramp==1.4.1
simple-websocket==0.5.0
six==1.16.0
SQLAlchemy==1.4.31
urllib3==1.26.8
webencodings==0.5.1
Werkzeug==2.0.3
wsproto==1.0.0
WTForms==3.0.1