option_settings:
  aws:elb:listener:
    ListenerProtocol: TCP
    InstancePort: 80
    InstanceProtocol: TCP
  aws:elb:listener:443:
    ListenerProtocol: SSL
    SSLCertificateId: arn:aws:acm:eu-west-2:674075346120:certificate/d3c04d55-1b5e-4994-8df0-d3c3e195aa96
    InstancePort: 80
    InstanceProtocol: TCP