.form-check-input:checked {
    background-color: #198754;
}

/*.btn-outline-success:hover {*/
/*    color: white;*/
/*    border-color: white;*/
/*}*/

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid grey;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.accordion-button:not(.collapsed) {
    background: rgba(25, 135, 84, 0.1);
    color: #198754;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23198754'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/* This is for fixing the conflict between Bootstrap and Toast UI Editor as both defines the placeholder class */
.placeholder {
    display: inline-block;
    min-height: auto;
    vertical-align: baseline;
    cursor: text;
    background-color: white;
    opacity: 1;
    font-size: 1rem;
}
