.form-check-input:checked {
    background-color: #198754;
}

/*.btn-outline-success:hover {*/
/*    color: white;*/
/*    border-color: white;*/
/*}*/

.card.info {
    background-color: rgba(13, 202, 240, 0.05);
    border-color: #0dcaf0;
}

.card.warning {
    background-color: rgba(255, 193, 7, 0.05);
    border-color: #ffc107;
}

.card.success {
    background-color: rgba(25, 135, 84, 0.05);
    border-color: #198754;
}

.card.danger {
    background-color: rgba(220, 53, 69, 0.05);
    border-color: #dc3545;
}

.card.primary {
    background-color: rgba(13, 110, 253, 0.05);
    border-color: #0d6efd;
}

.card.secondary {
    background-color: rgba(108, 117, 125, 0.05);
    border-color: #6c757d;
}

.card-header.success {
    background-color: rgba(25, 135, 84, 0.05);
}

.card-header.primary {
    background-color: rgba(13, 110, 253, 0.05);
}

.card-header.danger {
    background-color: rgba(220, 53, 69, 0.05);
}




.card-text.truncated-sm {
    max-height: 5rem;
    overflow: hidden
}

.card-text.truncated-md {
    max-height: 10rem;
    overflow: hidden
}

.card-text.truncated-lg {
    max-height: 15rem;
    overflow: hidden
}

.card-text.truncated-xl {
    max-height: 20rem;
    overflow: hidden
}

.btn-group.buy-sell .btn:first-child {
    padding-left: 0.5rem;
    padding-top: 0.0rem;
    padding-bottom: 0.0rem;
    z-index: 1;
}

.btn-group.buy-sell .btn:last-child {
    padding-right: 0.5rem;
    padding-top: 0.0rem;
    padding-bottom: 0.0rem;
    padding-left: 4px;
    padding-right: 4px;
}


.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid grey;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.accordion-button:not(.collapsed) {
    background: rgba(25, 135, 84, 0.1);
    color: #198754;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23198754'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/* This is for fixing the conflict between Bootstrap and Toast UI Editor as both defines the placeholder class */
.placeholder {
    display: inline-block;
    min-height: auto;
    vertical-align: baseline;
    cursor: text;
    background-color: white;
    opacity: 1;
    font-size: 1rem;
}
