{% extends "v2/base.html" %}
{% from "macros/form.html" import render_login_form %}

{% block title %}
    Request received
{% endblock %}

{% block content %}
    {{ super() }}

    {% block user_content %}
        <p>You can view or edit the details at
            <a href="{{ url_for('main.view_node_shortener', node_short_code=node.short_code) }}">
                {{ url_for('main.view_node_shortener', node_short_code=node.short_code, _external=True) }}</a>.
        </p>
        <p>If you already have in mind an ideal person for the topic, or want to ask someone to join the search, you can
            send them this link and ask for help.</p>
    {% endblock %}

    <h5 class="my-4">What happens next:</h5>
    <ol>
        <li>You will receive an email once we have found a match for you</li>
        <li>Top up your account if needed (to cover the reward payment)</li>
        <li>Have a quick chat with your match</li>
        <li>Release the reward if you are satisfied with their response, otherwise the money stays in your account
        </li>
    </ol>
{% endblock %}
