{% extends "v2/base.html" %}
{% from "macros/form.html" import render_login_form %}

{% block title %}
    Request received
{% endblock %}

{% block content %}
    {{ super() }}

    {% block user_content %}
        <p>You can view or edit the details at
            <a href="{{ url_for('main.view_node_shortener', node_short_code=node.short_code) }}">
                {{ url_for('main.view_node_shortener', node_short_code=node.short_code, _external=True) }}</a>.
        </p>
        <p>If you already have in mind an ideal person for the topic, or want to ask someone to join the search, you can
            send them this link and ask for help.</p>
    {% endblock %}

    <h4 class="mt-5">What happens next:</h4>
    <ol>
        <li class="mt-3">You will receive an email once we have found a match for you.</li>
        <li class="mt-2">Top up your account if needed (to cover the reward payment).</li>
        <li class="mt-2">Have a quick chat with your match.</li>
        <li class="mt-2">Rate the engagement successful to release the reward, or rate it unsuccessful to get a refund.
        </li>
    </ol>
{% endblock %}
