{% extends "base.html" %}

{% block body_bg %}bg-dark text-light{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        function showValue(newValue) {
            document.getElementById("valueBox").innerText = newValue;
        }

        function setPlaceholder(topicValue) {
            let placeholderValue = "";
            let footnoteValue = "";
            if (topicValue == 1) {
                placeholderValue = "Name of the place and what you want to know";
                footnoteValue = "Planning a holiday? Doing due diligence for the new home you are looking to buy/rent? Find someone local to ask your specific questions and get their perspective on things you care about the most.";
            } else if (topicValue == 2) {
                placeholderValue = "Name of the company/division and what you want to know";
                footnoteValue = "Preparing for an upcoming job interview? Got a few job offers and can't decide which one to choose? Talk to someone with inside knowledge to to find out what everything is really like."
            } else if (topicValue == 3) {
                placeholderValue = "Name of the school/faculty/program and what you want to know";
                footnoteValue = "Applying to a school and need tips on the application and interview process? Want to find out what it is really like in a program? Get the perspective from a current student and ask your own questions.";
            } else if (topicValue == 4) {
                placeholderValue = "Name or description of the product/service and what you want to know";
                footnoteValue = "Looking to buy something but can't get all the info you need to pull the trigger? Can't decide between 2 similarly featured services? Get specific advice and perspective from a current owner/user.";
            } else if (topicValue == 5) {
                placeholderValue = "Description of your problem or what you are trying to achieve";
                footnoteValue = "Need advice or help with something? Let us know and we will find someone to help!";
            } else if (topicValue == 6) {
                placeholderValue = "Description of your problem or what you are trying to achieve";
                footnoteValue = "(Coming soon) Link your Stack Overflow question and hope for the best!";
            } else if (topicValue == 7) {
                placeholderValue = "Description of what you are looking for or the ideal person for the topic";
                footnoteValue = "Looking for something not listed above? Let us know and we will try to help!";
            }
            document.getElementById("details").placeholder = placeholderValue;
            document.getElementById("footnote").innerText = footnoteValue;
        }
    </script>
{% endblock %}


{% block main %}
    <main class="py-5">
        <div class="mx-auto p-3" style="max-width: 45rem">
            <div class="d-flex" style="min-height: 80vh;align-items: center">
                <div>
                    <h1 class="display-5 fw-bold text-center mb-4 lh-sm">Insight for <span
                            class="bg-info rounded px-2">you <i>only</i></span>, from the <span
                            class="bg-warning rounded px-2"><i>right</i> people</span></h1>
                    <p class="lead">Choose a topic, and we will match you up with a <u>relevant</u> person to have a
                        <u>quick</u> chat with 1-on-1. You set the price, and pay only if you find the chat helpful.</p>
                    <form method="post">
                        {{ form.hidden_tag() }}
                        {{ form.topic(class_='form-select form-select-lg mb-3', onchange='setPlaceholder(this.value)') }}
                        <p class="text-muted" id="footnote"></p>
                        <div class="input-group input-group-lg mb-3">
                            {{ form.details(class_='form-control', rows=3, placeholder='Details') }}
                            {{ form.submit(class_='btn btn-success') }}
                        </div>
                        <div class="mx-1">
                            <div class="row">
                                <div class="col-auto mt-1">
                                    {{ form.reward.label(class_='lead') }}
                                </div>
                                <div class="col">
                                    {% for subfield in form.reward %}
                                        {{ subfield(class_='btn-check') }}
                                        {% if subfield.label.text[1:]|int == 0 %}
                                            {{ subfield.label(class_='btn btn-outline-success mx-1 mb-2', text='Flexible') }}
                                        {% else %}
                                            {{ subfield.label(class_='btn btn-outline-success mx-1 mb-2' + (' disabled' if subfield.label.text[1:]|int > max_reward else '')) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <p class="small text-muted my-1">Please budget $1 or more per effective minute spent by your
                                match, e.g. $5 for a 5-minute chat or shorter, or let your match suggest a price by
                                choosing "Flexible".</p>
                            <p class="small text-muted">You will be able to offer higher rewards as you complete more
                                searches on the platform.</p>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex" style="min-height: 125vh;align-items: center">
                <div>
                    <div id="divFAQ"></div>
                    <div style="margin-top: 10rem">
                        <h1 class="display-5 fw-bold text-center mb-4">FAQ</h1>
                        <h5 class="mt-5">How long does it take to find a match?</h5>
                        <p class="text-muted">Currently, we aim to have someone ready to engage with you within 24
                            hours. If you already have in mind an ideal person to chat with, you can send them a request
                            link and ask for paid help directly.</p>
                        <p class="text-muted">We are constantly expanding our network of friendly contributors and
                            improving our matching algorithm to make it quicker. If you are interested in sharing your
                            wisdoms and helping others, please consider <a href="https://forms.gle/zzXPFrtZSdgkoJXR8">
                                joining us</a>!</p>

                        <h5 class="mt-5">When is payment taken?</h5>
                        <p class="text-muted">You'll be asked to top up your account before you can engage with your
                            match. The funds will not leave your account unless you rate the engagement successful. You
                            can get a full refund when you cancel the search without a successful engagement.</p>

                        <h5 class="mt-5">What information about me is shared with my match?</h5>
                        <p class="text-muted">Just the details of the search you provided and your trustworthiness
                            rating derived from your past activities on the platform. Your email address is not shared
                            with your match. You and your match will remain mutually anonymous to each other.</p>

                        <h5 class="mt-5">How can I be sure my match is who they claim to be?</h5>
                        <p class="text-muted">Your match's credential will be checked by our contributors during
                            onboarding and if applicable, by other users who engaged with your match on relevant
                            searches in the past. You can also ask for any proof your match is willing to share.</p>

                        <h5 class="mt-5">Can I use a different channel to communicate with my match?</h5>
                        <p class="text-muted">Yes if both of you are comfortable and agree to use a 3rd party messaging
                            app (you will lose some privacy). Just remember to come back and rate your engagement.</p>
                    </div>

                    <div id="divAbout" style="margin-top: 10rem">
                        <h1 class="display-5 fw-bold text-center mb-4">About us</h1>
                        <p class="lead">LumiAsk is a search platform for highly personal knowledge and experience.</p>
                        <p class="lead">We all have specific knowledge, opinions and experience that others may find
                            valuable, yet they are not always easy to find, and we are not often aware of who needs
                            them.
                        </p>
                        <p class="lead">Our platform makes them easier to discover and rewarding to share.</p>
                    </div>
                    <div id="divJoin" style="margin-top: 10rem">
                        <h1 class="display-5 fw-bold text-center mb-4">Join us</h1>
                        <p class="lead">Help others by sharing your wisdom and get compensated for your time, on topics
                            that are most relevant for you. Each request is worth $5-$50 and typically takes no more
                            than 5-10 minutes of a right person's time.
                        </p>
                        <p class="lead">
                            You can also help by tapping into your network and invite the right person to help, and earn
                            up to 40% of the total reward offered.
                        </p>
                        <p class="text-center mt-4">
                            <a href="https://forms.gle/zzXPFrtZSdgkoJXR8" class="btn btn-success btn-lg">
                                Register your interest</a>
                        </p>
                    </div>
                </div>
            </div>

            {#            <div style="margin-top: 10rem">#}
            {#                <h1 class="display-6 fw-bold text-center mb-4">PS: A "tip jar" to promote personal knowledge#}
            {#                    sharing</h1>#}
            {#                <p class="lead">We have created a special "tip jar" for your personal social media profile, to encourage#}
            {#                    the sharing of personal knowledge and experience related to the content you post online.</p>#}
            {#                <p class="text-center">#}
            {#                    <a href="{{ url_for('v2.open2chat') }}" class="btn btn-success btn-lg">Generate your "tip jar"#}
            {#                    </a>#}
            {#                </p>#}
            {#            </div>#}
        </div>
    </main>
{% endblock %}
