{% extends "base.html" %}

{% block body_bg %}bg-dark{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        function showValue(newValue) {
            document.getElementById("valueBox").innerText = newValue;
        }

        function setPlaceholder(topicValue) {
            let placeholderValue = "";
            let footnoteValue = "";
            if (topicValue == 1) {
                placeholderValue = "Name of the place and what you want to know";
                footnoteValue = "Doing due diligence for the new home you are looking to buy/rent? Planning a holiday? Get answers to your specific questions and perspectives from someone who lives in the neighbourhood.";
            } else if (topicValue == 2) {
                placeholderValue = "Name of the company/division and what you want to know";
                footnoteValue = "Trying to research a company before an upcoming job interview? Got a few job offers and can't decide which one to choose? Chat with someone who has been through the interview process or someone who works there."
            } else if (topicValue == 3) {
                placeholderValue = "Name of the school/faculty/program and what you want to know";
                footnoteValue = "Applying to a school and need tips on the application and interview process? Want to find out about specific elements of a program or the opinions from current students? Chat with a current student or someone who has been through the process.";
            } else if (topicValue == 4) {
                placeholderValue = "Name or description of the product/service and what you want to know";
                footnoteValue = "Interested in a product but don't have all the info you need to make a purchase decision? Can't decide between 2 similarly featured services? Get specific advice and perspective from a current user.";
            } else if (topicValue == 5) {
                placeholderValue = "Description of your problem or what you are trying to achieve";
                footnoteValue = "Need help with something? Let us know and we will find someone to help.";
            } else if (topicValue == 6) {
                placeholderValue = "Description of your problem or what you are trying to achieve";
                footnoteValue = "(Coming soon) Link your Stack Overflow question and hope for the best!";
            } else if (topicValue == 7) {
                placeholderValue = "Description of what you are looking for or the ideal person for the topic";
                footnoteValue = "Looking for something not listed above? Let us know and we will try to help.";
            }
            document.getElementById("details").placeholder = placeholderValue;
            document.getElementById("footnote").innerText = footnoteValue;
        }
    </script>
{% endblock %}


{% block main %}
    <main class="my-auto py-5 bg-dark text-light">
        <div class="mx-auto mt-5 p-3" style="max-width: 45rem">
            <h1 class="display-5 fw-bold mb-3">Welcome to {{ config['APP_NAME'] }}</h1>
            <p class="lead">LumiAsk is a search platform for highly personal knowledge and experience.</p>
            <p class="lead">We all have unique knowledge, opinions and experience that others may find valuable, yet
                they are not always easy to find, and we are not often aware of who needs them.</p>
            <p class="lead">We make them easier to discover and rewarding to share.</p>

            <h2 style="margin-top: 4rem">Interested in something?</h2>
            <p class="lead my-3">We will match you up with a relevant person to have a quick chat with 1-on-1. You set
                the price, and pay only if you
                are satisfied with the answer.</p>
            <form method="post">
                {{ form.hidden_tag() }}
                <select class="form-select form-select-lg mb-3" id="selectTopic" onchange="setPlaceholder(this.value)">
                    <option selected>Choose a topic</option>
                    <option value="1">Place and Neighbourhood</option>
                    <option value="2">Company and Workplace</option>
                    <option value="3">School and College</option>
                    <option value="4">Product and Service</option>
                    <option value="5">Advice and Problem Solving - General</option>
                    <option value="6" disabled>Advice and Problem Solving - Coding & DevOps</option>
                    <option value="7">Other</option>
                </select>
                <p class="my-3 text-muted" id="footnote"></p>
                <div class="input-group input-group-lg mb-3">
                    {{ form.details(class_='form-control', rows=3, placeholder='Details') }}
                    {{ form.submit(class_='btn btn-success') }}
                </div>
                <div class="mx-1">
                    {{ form.reward.label(class_='lead') }}{# <span class="lead">: $</span><span id="valueBox" class="lead">5</span> #}
                    {#                    {{ form.reward(class_='form-range slider mt-1', min=1, max=max_reward, value=5, step=1, oninput='showValue(this.value)') }}#}
                    {% for subfield in form.reward %}
                        {{ subfield(class_='btn-check') }}
                        {{ subfield.label(class_='btn btn-outline-success mx-1 my-1' + (' disabled' if subfield.label.text[1:]|int > max_reward else '')) }}
                    {% endfor %}
                    <p class="small text-muted">As a rough guide, we recommend $5 or more for a 5-minute chat, i.e. a
                        minimum of $1 per effective minute spent.</p>
                </div>
            </form>

            <h2 style="margin-top: 4rem">Contribute and earn $ reward</h2>
            <p class="lead">Earn $5-$50 per request by helping others with their topics, or up to 40% of that by
                introducing someone to help.</p>
            <a href="https://forms.gle/W9SLbgUNBLg2kUZo7" class="btn btn-success btn-lg mb-5">Register your interest</a>

            <h2 style="margin-top: 5rem">PS: A "tip jar" for non-creators</h2>
            <p class="lead">How it works -
            <ol class="lead">
                <li>create your tip jar link and share on your online profiles</li>
                <li>others click the link to send you a message and a "tip"</li>
                <li>you claim the tip by responding to the message</li>
            </ol>
            </p>
            <p class="lead">If you match any of the following descriptions:</p>
            <ul class="lead">
                <li>you occasionally (or regularly) post or comment in online communities</li>
                <li>you have written reviews on Amazon, Google or other review websites</li>
                <li>you have a profile set up on LinkedIn, Facebook or other social media</li>
            </ul>
            <p class="lead">
                then you are already discoverable as a "casual" content creator, and you are uniquely positioned to
                share your specific knowledge and experience on-demand.
            </p>
            <a href="{{ url_for('main.browse') }}" class="btn btn-success btn-lg mb-5">Generate your "tip jar" link</a>
        </div>
    </main>
{% endblock %}
