{% extends "email/base.html" %}

{% block title %}
    Confirm your {{ config['APP_NAME'] }} account
{% endblock %}

{% block preheader %}
    Welcome to {{ config['APP_NAME'] }}! You are just one step away from activating your account.
{% endblock %}

{% block heading %}
    Thanks for signing up!
{% endblock %}

{% block content %}
    Please tap the button below to verify your email address.
    If you did not create an account with <a href="https://knowble.com">{{ config['APP_NAME'] }}</a>, please discard this email.
{% endblock %}

{% block button_url %}
    {{ url_for("auth.confirm", token=token, _external=True) }}
{% endblock %}

{% block button_label %}
    Verify Email Now
{% endblock %}
