{% extends "email/base.html" %}

{% block title %}
    {{ config["APP_NAME"] }} - User Notification
{% endblock %}

{% block preheader %}
    {% if notification.node %}
        Update on "{{ notification.node.post.title }}"
    {% else %}
        Account activity
    {% endif %}
{% endblock %}

{% block heading %}
    {{ notification.message }}
{% endblock %}

{% block content %}
    {% if notification.node %}
        This notification is regarding the post titled "{{ notification.node.post.title }}".
        Please tap the button below to view the latest updates on the post.
    {% else %}
        This notification is regarding your account.
        Please tap the button below to view your latest account activity.
    {% endif %}
{% endblock %}

{% block button_url %}
    {% if notification.node %}
        {{ url_for("main.view_node", node_id=notification.node.id, _external=True) }}
    {% else %}
        {{ url_for("main.alerts", _external=True) }}
    {% endif %}
{% endblock %}

{% block button_label %}
    {% if notification.node %}
        View Updates
    {% else %}
        View Activity
    {% endif %}
{% endblock %}
