{% extends "email/base.html" %}

{% block title %}
    Password Reset
{% endblock %}

{% block preheader %}
    Follow the instructions to reset your password.
{% endblock %}

{% block heading %}
    We have received a request to reset your password.
{% endblock %}

{% block content %}
    Please tap the button below to reset your password.
    If you have not requested a password reset, please discard this email.
{% endblock %}

{% block button_url %}
    {{ url_for("auth.password_reset", token=token, _external=True) }}
{% endblock %}

{% block button_label %}
    Reset My Password
{% endblock %}
