{% extends "base.html" %}

{% block body_bg %}bg-dark{% endblock %}

{% block main %}
    <main class="my-auto py-5 bg-dark text-light">
        <div class="mx-auto mt-5 p-3" style="max-width: 45rem">
            <h1 class="display-5 fw-bold mb-3">Welcome to {{ config['APP_NAME'] }}</h1>
            <p class="lead">Everyone has specific knowledge or experience that others may find valuable, yet they are
                not always easy to find with a search or helpfully discussed in online communities.</p>
            {#            <p class="lead">Everyone has specific knowledge or experience that others may find valuable, yet they are#}
            {#                often not nicely indexed by Google or helpfully discussed on Reddit.</p>#}
            <p class="lead">We make them easier to discover and rewarding to share.</p>
            <h2 class="mt-5">Interested in something?</h2>
            <p class="lead">Tell us something specific you want to find out more about or need help with, or describe
                the ideal person for your topic, and we will match you up with someone to chat with 1-on-1.</p>
            <div class="input-group" style="margin-bottom: 5rem">
                <textarea class="form-control" rows="3"
                          placeholder="A neighbourhood / school / company / product / service..."></textarea>
                <button class="btn btn-success" type="button">Get Matched</button>
            </div>

            <h2 class="mt-5">Contribute and earn $ reward</h2>
            <p class="lead">Earn $1-$20 by helping others with their topics, or up to 40% of that by introducing someone to
                help.</p>
            <a href="{{ url_for('main.browse') }}" class="btn btn-success btn-lg mb-5">Browse open topics</a>

            <h2 class="mt-5">PS: A "tip jar" for non-creators</h2>
            <p class="lead">How it works -
            <ol class="lead">
                <li>create your tip jar link and share on your online profiles</li>
                <li>others click the link to send you a message and a "tip"</li>
                <li>you claim the tip by responding to the message</li>
            </ol>
            </p>
            <p class="lead">If you match any of the following descriptions:</p>
            <ul class="lead">
                <li>you occasionally (or regularly) post or comment in online communities</li>
                <li>you have written reviews on Amazon, Google or other review websites</li>
                <li>you have a profile set up on LinkedIn, Facebook or other social media</li>
            </ul>
            <p class="lead">
                then you are already discoverable as a "casual" content creator, and you are uniquely positioned to
                share your specific knowledge and experience on-demand.
            </p>
            <a href="{{ url_for('main.browse') }}" class="btn btn-success btn-lg mb-5">Generate your "tip jar" link</a>
        </div>
    </main>
{% endblock %}
