{% extends "base.html" %}

{% block body_bg %}bg-dark{% endblock %}

{% block main %}
    <main class="my-auto py-5 bg-dark text-light">
        <div class="mx-auto mt-5 p-3" style="max-width: 45rem">
            <h1 class="display-5 fw-bold mb-3">Welcome to {{ config['APP_NAME'] }}</h1>
            <p class="lead">Everyone has specific knowledge or experience that others may find valuable, yet they are
                not always easy to find online.</p>
            <p class="lead">We make them easier to discover and rewarding to share.</p>

            <h2 style="margin-top: 5rem">Interested in something?</h2>
            <p class="lead">We will match you up with the most relevant person we can find for your chosen topic to chat
                with 1-on-1.</p>
            <form method="post" {% if action_url %}action="{{ action_url }}{% endif %}">
                {{ form.hidden_tag() }}
                <select class="form-select form-select-lg mb-3">
                    <option selected>Choose a topic</option>
                    <option value="1">Neighbourhood</option>
                    {# doing due deligience before buying a your home? #}
                    <option value="2">Employer / Workplace</option>
                    {# got a few job offers and can't decide which one to choose? #}
                    <option value="3">School / College</option>
                    {# applying to a school and looking for tips from someone who has gong through the process #}
                    <option value="4">Product / Service</option>
                    {# want to speak with an existing user of a product / service before pulling the trigger?  #}
                    <option value="5">Problem Solving - Coding & DevOp</option>
                    {#  #}
                    <option value="6">Problem Solving - General</option>
                    <option value="7">Other</option>
                    {# looking for someone to share a specific knowledge or experience not listed above #}
                </select>
                <div class="input-group input-group-lg">
                    {{ form.topic(class_='form-control', rows=3, placeholder='Details of what you are looking for...') }}
                    {{ form.submit(class_='btn btn-success') }}
                </div>
            </form>

            <h2 style="margin-top: 5rem">Contribute and earn $ reward</h2>
            <p class="lead">Earn $1-$20 by helping others with their topics, or up to 40% of that by introducing someone
                to
                help.</p>
            <a href="{{ url_for('main.browse') }}" class="btn btn-success btn-lg mb-5">Browse open topics</a>

            <h2 style="margin-top: 5rem">PS: A "tip jar" for non-creators</h2>
            <p class="lead">How it works -
            <ol class="lead">
                <li>create your tip jar link and share on your online profiles</li>
                <li>others click the link to send you a message and a "tip"</li>
                <li>you claim the tip by responding to the message</li>
            </ol>
            </p>
            <p class="lead">If you match any of the following descriptions:</p>
            <ul class="lead">
                <li>you occasionally (or regularly) post or comment in online communities</li>
                <li>you have written reviews on Amazon, Google or other review websites</li>
                <li>you have a profile set up on LinkedIn, Facebook or other social media</li>
            </ul>
            <p class="lead">
                then you are already discoverable as a "casual" content creator, and you are uniquely positioned to
                share your specific knowledge and experience on-demand.
            </p>
            <a href="{{ url_for('main.browse') }}" class="btn btn-success btn-lg mb-5">Generate your "tip jar" link</a>
        </div>
    </main>
{% endblock %}
