{% extends "open2chat/base.html" %}
{% from "macros/form.html" import render_login_form %}

{% block title %}
    Request received
{% endblock %}

{% block content %}
    {{ super() }}

    {% if current_user.is_authenticated %}
        <p>We will send an email to <span class="text-primary">{{ current_user.email }}</span> as soon as we have a
            match for you.</p>
    {% else %}
        <p>Please leave an email address to receive progress updates from us(*).</p>
        <form method="post" action="{{ url_for('open2chat.save_email') }}">
            {{ form.hidden_tag() }}
            <div class="form-floating mb-3">
                {% if form.email.errors %}
                    {{ form.email(class_='form-control is-invalid') }}
                {% else %}
                    {{ form.email(class_='form-control') }}
                {% endif %}
                {{ form.email.label() }}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                {% endfor %}
            </div>
            {{ form.submit(class_='btn btn-success w-100 mb-3') }}
        </form>

        <div class="separator mb-3"><span class="text-muted"> Or </span></div>

        <a class="btn btn-outline-dark w-100 mb-3 rounded-pill"
           href="{{ url_for("auth.apple") }}">
            <i class="bi bi-apple"></i> Continue with Apple</a>
        <a class="btn btn-outline-danger w-100 mb-4 rounded-pill"
           href="{{ url_for("auth.google") }}">
            <i class="bi bi-google"></i> Continue with Google</a>

        <hr>
    {% endif %}
    <h5 class="my-4">What happens next:</h5>
    <ol>
        <li>You will receive an email once we have found someone to engage with you.</li>
        <li>Once engaged, you can exchange messages with the other user on your chosen topic.</li>
        <li>When you are done, rate the engagement successful if you are satisfied with their response.</li>
        <li>If the engagement is rated successful, the other user receives the reward from you, deducted from your
            account balance. Otherwise, you can request a full refund of any top-up you made for this engagement.
        </li>
    </ol>

    {% if not current_user.is_authenticated %}
        <p class="mb-4 small">(*) Your email address is not shared with anyone, and you will receive at most 2 emails
            from us in any 24-hour window for progress updates, up to 3 emails over entire matching process.</p>
    {% endif %}
{% endblock %}
