{% macro render_login_form(form, is_continue, action_url=None) %}
    <a class="btn btn-outline-dark w-100 mb-2 rounded-pill" href="{{ url_for("auth.apple") }}">
        <i class="bi bi-apple"></i> {% if is_continue %}Continue{% else %}Sign in{% endif %} with Apple</a>
    <a class="btn btn-outline-danger w-100 my-2 rounded-pill" href="{{ url_for("auth.google") }}">
        <i class="bi bi-google"></i> {% if is_continue %}Continue{% else %}Sign in{% endif %} with Google</a>

    <div class="separator my-3"><span class="text-muted"> Or </span></div>
    {# <hr class="my-3"> #}

    <form method="post" {% if action_url %}action="{{ action_url }}{% endif %}">
        {{ form.hidden_tag() }}
        <div class="form-floating mb-3">
            {{ form.email(class_='form-control') }}
            {{ form.email.label() }}
        </div>
        <div class="form-floating mb-3">
            {{ form.password(class_='form-control') }}
            {{ form.password.label() }}
        </div>
        <div class="form-check mb-3">
            {{ form.remember_me(class_='form-check-input me-2', style='height: 1.5rem; width: 1.5rem; position: relative; bottom: 0.25rem;') }}
            {{ form.remember_me.label(class_='form-check-label') }}
        </div>
        {{ form.submit(class_='btn btn-success w-100') }}
    </form>

    <p class="mt-3 text-center">
        <a class="text-decoration-none" href="{{ url_for('auth.password_reset_request') }}">Forgot your password?</a>
    </p>
    <p class="mt-3 text-center text-muted">Don't have an account?
        <a class="text-decoration-none" href="{{ url_for("auth.signup") }}">Sign Up</a>
    </p>
{% endmacro %}


{% macro render_signup_form(form, has_invite_code=False, action_url=None) %}
    <a class="btn btn-outline-dark w-100 mb-2 rounded-pill {% if not has_invite_code %}disabled{% endif %}"
       href="{% if has_invite_code %}{{ url_for("auth.apple") }}{% else %}#{% endif %}">
        <i class="bi bi-apple"></i> Sign up with Apple</a>
    <a class="btn btn-outline-danger w-100 my-2 rounded-pill {% if not has_invite_code %}disabled{% endif %}"
       href="{% if has_invite_code %}{{ url_for("auth.google") }}{% else %}#{% endif %}">
        <i class="bi bi-google"></i> Sign up with Google</a>

    <div class="separator my-3"><span class="text-muted"> Or </span></div>
    {# <hr class="my-3"> #}

    <form method="post" {% if action_url %}action="{{ action_url }}{% endif %}">
        {{ form.hidden_tag() }}
        <div class="form-floating mb-3" {% if form.hide_invite_code %}style="display: none"{% endif %}>
            {% if form.invite_code.errors %}
                {{ form.invite_code(class_='form-control is-invalid') }}
            {% else %}
                {{ form.invite_code(class_='form-control') }}
            {% endif %}
            {{ form.invite_code.label() }}
            {% for error in form.invite_code.errors %}
                <div class="invalid-feedback" style="display: block;">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-floating mb-3">
            {% if form.email.errors %}
                {{ form.email(class_='form-control is-invalid') }}
            {% else %}
                {{ form.email(class_='form-control') }}
            {% endif %}
            {{ form.email.label() }}
            {% for error in form.email.errors %}
                <div class="invalid-feedback" style="display: block;">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-floating mb-3">
            {{ form.password(class_='form-control') }}
            {{ form.password.label() }}
        </div>
        <div class="form-floating mb-3">
            {{ form.confirm_password(class_='form-control') }}
            {{ form.confirm_password.label() }}
        </div>
        {{ form.submit(class_='btn btn-success w-100 mb-3') }}
    </form>

    {% if not has_invite_code %}
        <p class="text-center">
            Need an invite code? Request one using our <a href="{{ url_for('main.contact') }}">feedback form</a>!
        </p>
    {% endif %}
{% endmacro %}


{% macro render_editor_form(form, type=None) %}
    <form method="post" {% if type == 'tui' %}onsubmit="DoSubmit(){% endif %}">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.is_asking.label(class_='form-label') }}
            {% for item in form.is_asking %}
                <div class="form-check">
                    {{ item(class_='form-check-input', style='width: 1.25rem; height: 1.25rem; position: relative; bottom: 0.075rem;') }}
                    {{ item.label(class_='form-check-label ms-1') }}
                </div>
            {% endfor %}
        </div>
        <div class="form-floating mb-3">
            {% if form.price.errors %}
                {{ form.price(class_='form-control is-invalid') }}
            {% else %}
                {{ form.price(class_='form-control') }}
            {% endif %}
            {{ form.price.label() }}
            {% for error in form.price.errors %}
                <div class="invalid-feedback" style="display: block;">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-floating mb-3">
            {% if form.title.errors %}
                {{ form.title(class_='form-control is-invalid') }}
            {% else %}
                {{ form.title(class_='form-control') }}
            {% endif %}
            {{ form.title.label() }}
            {% for error in form.title.errors %}
                <div class="invalid-feedback" style="display: block;">{{ error }}</div>
            {% endfor %}
        </div>
        {% if type != 'mde' %}
            <div class="form-floating mb-3" {% if type =='tui' %}style="display: none"{% endif %}>
        {% endif %}
        {{ form.body(class_='form-control', style='height: 15rem;') }}
        {% if type is none %}{{ form.body.label() }}{% endif %}
        {% if type != 'mde' %}
            </div>
        {% endif %}
        <div class="mb-3" id="tui_editor"></div>
        <div class="form-check form-switch mb-3">
            {{ form.is_private(class_='form-check-input me-2', role='switch', style='width: 3rem; height: 1.5rem; position: relative; bottom: 0.15rem;') }}
            {{- form.is_private.label(class_='form-check-label') -}}
            <sup>
                <button type="button" class="btn btn-sm btn-link text-decoration-none px-0" data-bs-toggle="modal"
                        data-bs-target="#modalMode">
                    What's this?
                </button>
            </sup>
        </div>
        {{ form.submit(class_='btn btn-success w-100') }}
    </form>
    <div class="modal fade" id="modalMode" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h6 class="modal-title">Public vs. Private mode</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body small">
                    <strong>Public</strong>
                    <ul>
                        <li class="mt-1">Your post is listed publicly, just like how it works on a traditional online
                            forum.
                        </li>
                        <li class="mt-1">Up to 20% of the reward you set for your post will go to the referrers leading
                            to a successful engagement.
                        </li>
                        <li class="mt-1">Referrers' reward are not guaranteed, though users are encouraged to reward the
                            referrers to show appreciation.
                        </li>
                    </ul>
                    <strong>Private</strong>
                    <ul>
                        <li class="mt-1">Your post is not listed publicly - it lives on and travels through your (and
                            your friends, and your friends' friends'...) social networks.
                        </li>
                        <li class="mt-1"><strong>This feature relies on you to kick off the process by sharing the post
                            at least once on social media or online communities.</strong>
                        </li>
                        <li class="mt-1">
                            Up to 40% of the reward you set for your post will go to the referrers leading to a
                            successful engagement.
                        </li>
                        <li class="mt-1">Referrers' reward are <strong>guaranteed</strong>.
                        </li>
                    </ul>
                    <p>
                        Consider using private mode if your question is easily answered by the right person (e.g. if you
                        are looking for someone to share a specific experience), but might require more effort &
                        incentive to search beyond your immediate network of friends and the active members of online
                        communities.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro render_report_form(form, post_id) %}
    <p>What is the reason for reporting this post?</p>
    <form action="{{ url_for('main.report_post', post_id=post_id) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.text(
            class_='form-control',
            rows=3,
            placeholder="Spam / Harassment / Leaking personal information / Copyright infringement / Other illegal activities") }}
        <div class="d-flex mt-3">
            {{ form.submit(class_='btn btn-success me-auto', id='btnReport') }}
            <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">
                Cancel
            </button>
        </div>
    </form>
{% endmacro %}


{% macro render_feedback_form(form, logged_in=False) %}
    <p>We'd love to hear from you! Contact us through any of the channels below, or leave a quick message using the
        feedback form. </p>
    <div class="row justify-content-evenly">
        <div class="col-auto">
            <p><a href="https://discord.gg/PC7mPwXYsY" class="text-decoration-none text-success">
                <i class="bi bi-discord"></i> Discord
            </a></p>
            <p><a href="http://192.168.0.8:8080/whatsapp" class="text-decoration-none text-success">
                <i class="bi bi-whatsapp"></i> WhatsApp
            </a></p>
            <p><a href="mailto:info@lumiask.com" class="text-decoration-none text-success">
                <i class="bi bi-envelope-fill"></i> Email
            </a></p>
        </div>
        <div class="col-auto">
            <p><a href="https://twitter.com/LumiQnA" class="text-decoration-none text-success">
                <i class="bi bi-twitter"></i> Twitter
            </a></p>
            <p><a href="https://fb.me/LumiQA" class="text-decoration-none text-success">
                <i class="bi bi-facebook"></i> Facebook
            </a></p>
            <p><a href="https://www.linkedin.com/company/knowbleltd" class="text-decoration-none text-success">
                <i class="bi bi-linkedin"></i> LinkedIn
            </a></p>
        </div>
    </div>
    <hr class="mt-2 mb-4">
    <form action="{{ url_for('main.contact') }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.text(
            class_='form-control mb-3',
            rows=5,
            placeholder="Please leave your feedback here...") }}

        {% if not logged_in %}
            <div class="form-floating mb-3">
                {% if form.email.errors %}
                    {{ form.email(class_='form-control is-invalid') }}
                {% else %}
                    {{ form.email(class_='form-control') }}
                {% endif %}
                {{ form.email.label() }}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-check mb-3">
                {{ form.request_invite(class_='form-check-input me-2', style='height: 1.5rem; width: 1.5rem; position: relative; bottom: 0.25rem;') }}
                {{ form.request_invite.label(class_='form-check-label') }}
            </div>
        {% endif %}
        {{ form.submit(class_='btn btn-success w-100 mb-3') }}
    </form>
{% endmacro %}


{% macro render_rating_form(form, action_url, success, tipping=False, tipping_cap=0, answerer_reward_cent=0) %}
    {% set id_suffix = 'RatePlus' if success else 'RateMinus' %}
    <div class="mb-4">
        {% if success %}
            <p>The reward will be distributed if both users rate the engagement as successful.</p>
        {% else %}
            <p>No reward will be distributed if either user rates the engagement as unsuccessful.</p>
        {% endif %}
        {% if tipping %}
            <p>If you would like to tip the answerer, please choose one of the options below now.</p>
            <p>I would like to tip
                $<span id="valueBox{{- id_suffix -}}">0</span> (<span id="percentBox{{- id_suffix -}}">0</span>%
                of the answerer's reward).
            </p>
        {% endif %}
    </div>
    <form id="form{{- id_suffix -}}" action="{{ action_url }}" method="post">
        {{ form.hidden_tag() }}
        {% if tipping %}
            {{ form.tip_cent(
                    class_="form-range slider",
                    min=0,
                    max=tipping_cap,
                    value=0,
                    step=10 if tipping_cap % 10 == 0 else (5 if tipping_cap % 5 == 0 else (2 if tipping_cap % 2 == 0 else 1)),
                    oninput="showValue" + id_suffix + "(this.value)") }}
        {% endif %}
        <hr>
        <div class="d-flex mt-3">
            {{ form.submit(class_='btn btn-success me-auto', id='btnConfirm' + id_suffix) }}
            <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">
                Cancel
            </button>
        </div>
    </form>
    {% if tipping %}
        <script>
            function showValue{{- id_suffix -}}(newValue) {
                document.getElementById("valueBox{{- id_suffix -}}").innerHTML = (0.01 * newValue).toFixed(2);
                document.getElementById("percentBox{{- id_suffix -}}").innerHTML = (100 * newValue / {{ answerer_reward_cent }}).toFixed();
            }
        </script>
    {% endif %}
{% endmacro %}


{% macro render_confirm_form(form, action_url, button_class, button_id) %}
    <form action="{{ action_url }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(class_=button_class, id=button_id) }}
    </form>
{% endmacro %}


{% macro render_confirm_form_modal(modal_id_suffix, modal_title, modal_body, form, action_url) %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal{{ modal_id_suffix }}">
        <div class="modal-dialog modal-dialog-centered {% if request.MOBILE %}mx-5{% else %}modal-sm{% endif %}"
             role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-body p-4 text-center">
                    <h5>{{ modal_title|safe }}</h5>
                    <p class="mb-0">{{ modal_body|safe }}</p>
                </div>
                <form action="{{ action_url }}" method="post">
                    <div class="modal-footer flex-nowrap p-0">
                        {{ form.hidden_tag() }}
                        {{ form.submit(
                            class_='btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end',
                            style='font-weight:bold',
                            id='btnConfirm' + modal_id_suffix) }}
                        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0"
                                data-bs-dismiss="modal">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}
