{% from "macros/utils.html" import render_form_modal %}
{% from "macros/form.html" import render_login_form, render_signup_form, render_feedback_form %}

{% macro render_nav_item(endpoint=None, text=None, icon=None, link=None, visible_from=None) %}
    {% set active = True if request.endpoint and request.endpoint == endpoint else False %}
    <li class="nav-item">
        <a class="nav-link text-nowrap rounded
            {% if active %}active{% endif %}
            {% if visible_from %}d-none d-{{ visible_from }}-block{% endif %}"
                {#           style="padding-top: 11px;padding-bottom: 11px"#}
           href="{% if link %}{{ link }}{% else %}{{ url_for(endpoint, **kwargs) }}{% endif %}">
            {% if icon %}<i class="bi {{ icon }}"></i>{% endif %}
            {{ text }}
        </a>
    </li>
{% endmacro %}


{% macro render_navbar(current_user=None) %}
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark pb-0">
        <div class="container-fluid">
            <a class="navbar-brand h1" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='apple-touch-icon.png') }}" width="32" height="32"
                     class="d-inline-block align-text-bottom">{{ config["APP_NAME"][1:] }}</a>
            <ul class="navbar-nav">
                {{ render_nav_item("main.browse", "Explore", "bi-search", visible_from="sm") }}
                {{ render_nav_item("main.post_options", "Post", "bi-plus-square", visible_from="sm") }}
                {{ render_nav_item("main.faq", "FAQ", "bi-signpost-split", visible_from="sm") }}
                {#{{ render_nav_item("main.guidelines", "Community Guidelines", "bi-book", visible_from="lg") }}#}
                {#{{ render_nav_item("main.feedback", text="Feedback", icon="bi-pencil-square", visible_from="md") }}#}
                <li class="nav-item">
                    <button type="button" class="btn border-0 nav-link text-nowrap d-none d-md-block"
                            data-bs-toggle="modal" data-bs-target="#modalWhatsNew">
                        <i class="bi bi-magic"></i> What's New
                    </button>
                </li>
                <li class="nav-item">
                    {% if feedback_form %}
                        <button type="button" class="btn border-0 nav-link text-nowrap d-none d-md-block"
                                data-bs-toggle="modal" data-bs-target="#modalFeedback">
                            <i class="bi bi-pencil-square"></i> Feedback
                        </button>
                    {% else %}
                        <a class="nav-link text-nowrap d-none d-md-block
                        {% if request.endpoint and request.endpoint == 'main.feedback' %}active{% endif %}"
                           href="{{ url_for('main.feedback') }}">
                            <i class="bi bi-pencil-square"></i> Feedback
                        </a>
                    {% endif %}
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2">
                <li class="nav-item">
                    <div class="btn-group" role="group">
                        {% if current_user and current_user.is_authenticated %}
                            <a class="btn text-nowrap btn-outline-success text-white"
                               href="{{ url_for('main.account') }}">
                                Account
                            </a>
                            <a class="btn text-nowrap btn-success"
                               href="{{ url_for('auth.logout') }}">
                                Log Out
                            </a>
                        {% else %}
                            {% if login_form %}
                                <button type="button" class="btn btn-outline-success text-nowrap text-white"
                                        data-bs-toggle="modal" data-bs-target="#modalLogin">
                                    Log In
                                </button>
                            {% else %}
                                <a class="btn btn-outline-success text-nowrap text-white"
                                   href="{{ url_for('auth.login') }}">
                                    Log In
                                </a>
                            {% endif %}
                            {% if signup_form %}
                                <button type="button" class="btn btn-success text-nowrap"
                                        data-bs-toggle="modal" data-bs-target="#modalSignup">
                                    Sign Up
                                </button>
                            {% else %}
                                <a class="btn btn-success text-nowrap"
                                   href="{{ url_for('auth.signup') }}">
                                    Sign Up
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    {% if login_form %}
        {{ render_form_modal(
            modal_id='modalLogin',
            modal_title='Log in',
            modal_body=render_login_form(login_form, action_url=url_for('auth.login'))) }}
    {% endif %}
    {% if signup_form %}
        {{ render_form_modal(
            modal_id='modalSignup',
            modal_title='Sign up',
            modal_body=render_signup_form(signup_form, action_url=url_for('auth.signup'))) }}
    {% endif %}
    {% if feedback_form %}
        {{ render_form_modal(
            modal_id='modalFeedback',
            modal_title='Questions & Feedback',
            modal_body=render_feedback_form(feedback_form, current_user.is_authenticated)) }}
    {% endif %}
    <div class="modal fade py-5" tabindex="-1" id="modalWhatsNew">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow p-4" style="border-radius: 1rem">
                <div class="modal-header border-0">
                    <h2 class="fw-bold mb-0">What's New</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <ul class="d-grid gap-4 my-5 list-unstyled">
                        <li class="d-flex gap-4">
                            <i class="bi bi-megaphone text-warning" style="font-size: 48px"></i>
                            <div>
                                <h5 class="mb-0">Posting as Answerer</h5>
                                Tell others what you know, answer questions and earn rewards.
                            </div>
                        </li>
                        <li class="d-flex gap-4">
                            <i class="bi bi-people-fill text-secondary" style="font-size: 48px"></i>
                            <div>
                                <h5 class="mb-0">Private Mode</h5>
                                Extra incentive for people to tap into their networks to help you.
                            </div>
                        </li>
                        <li class="d-flex gap-4">
                            <i class="bi bi-hand-thumbs-up text-primary" style="font-size: 48px"></i>
                            <div>
                                <h5 class="mb-0">Tipping</h5>
                                Tip particularly helpful answerers to show your appreciation.
                            </div>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-success mt-5 w-100" data-bs-dismiss="modal">
                        Got it
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


{# only visible if screen width is visible_from or more #}
{% macro render_nav_item_bottom(endpoint=None, text=None, icon=None, visible_from=None, link=None, badge_text=None, alt=None, extra_class="", onclick=None) %}
    {% set active = True if request.endpoint and request.endpoint == endpoint else False %}
    <li class="btn-secondary position-relative text-center px-0 py-0 rounded-0
        {{ extra_class }}
        {% if text %}btn-sm{% else %}btn-lg my-auto{% endif %}
        {% if active %}active{% endif %}
        {% if visible_from %}d-none d-{{ visible_from }}-block{% endif %}
        ">
        <a href="{% if link is not none %}{{ link }}{% else %}{{ url_for(endpoint, **kwargs) }}{% endif %}"
           class="nav-link text-white"
           {% if alt %}title="{{ alt }}" alt="{{ alt }}"{% endif %}
           {% if onclick %}onclick="{{ onclick }}"{% endif %}
        >{% if icon %}
            <i class="bi {{ icon }}"></i><br>{% endif %}
            {% if text %} {{ text|safe }} {% endif %}
        </a>
        {% if badge_text is not none %}
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger"
                  id="badge{{ text }}" {% if active or not badge_text %}hidden{% endif %}>
            {{ badge_text }}
            </span>
        {% endif %}
    </li>
{% endmacro %}


{% macro render_navbar_bottom(current_user=None) %}
    <div class="container-fluid fixed-bottom bg-secondary">
        <ul class="nav justify-content-center">
            {% if current_user and current_user.is_authenticated %}
                {% if request.MOBILE %}
                    {{ render_nav_item_bottom(link="",
                        onclick="if(document.referrer.indexOf(window.location.host)!==-1){history.back()};return false;",
                        icon="bi-arrow-90deg-left",
                        extra_class="me-auto") }}
                {% endif %}
                {{ render_nav_item_bottom("main.alerts", "Alerts", "bi-bell", badge_text=current_user.num_unread_notifications, extra_class="hide-340") }}
                {{ render_nav_item_bottom("main.browse", "Browse", "bi-search") }}
                {{ render_nav_item_bottom("main.post_options", "Post", "bi-plus-square") }}
                {{ render_nav_item_bottom("main.engagements", "Chats", "bi-chat-square-text", extra_class="hide-414") }}
                {{ render_nav_item_bottom("main.saved", "Saved", "bi-bookmark-check", visible_from="sm") }}
                {{ render_nav_item_bottom("main.account", "&nbsp&nbspMe&nbsp&nbsp", "bi-person-circle", visible_from="sm") }}
                {% if request.MOBILE %}
                    {{ render_nav_item_bottom(link="javascript:history.forward()", icon="bi-arrow-90deg-right", extra_class="ms-auto", alt="Forward") }}
                {% endif %}
            {% else %}
                {{ render_nav_item_bottom(link="https://twitter.com/LumiQnA", icon="bi-twitter") }}
                {{ render_nav_item_bottom(link="https://fb.me/LumiQA", icon="bi-facebook") }}
                {{ render_nav_item_bottom(link="https://www.linkedin.com/company/knowbleltd", icon="bi-linkedin") }}
                {{ render_nav_item_bottom(link="https://discord.gg/PC7mPwXYsY", icon="bi-discord") }}
                {{ render_nav_item_bottom("main.whatsapp", icon="bi-whatsapp") }}
                {{ render_nav_item_bottom(link="mailto:info@lumiask.com", icon="bi-envelope-fill", extra_class="hide-340") }}
            {% endif %}
        </ul>
    </div>
{% endmacro %}


{% macro render_navbar_side() %}
    <div class="card small text-center text-nowrap">
        <div class="card-body">
            <div class="row justify-content-evenly">
                <div class="col-auto">
                    {#                    <p><a class="text-decoration-none text-muted"#}
                    {#                          href="{{ url_for('main.whatsnew') }}">#}
                    {#                        What's New#}
                    {#                    </a></p>#}
                    {#                    <p><a class="text-decoration-none text-muted"#}
                    {#                          href="{{ url_for('main.index') }}">#}
                    {#                        Why {{ config["APP_NAME"] }}#}
                    {#                    </a></p>#}
                    <p><a class="text-decoration-none text-muted"
                          href="{{ url_for('main.faq_anchor', anchor_id='qHow') }}">
                        How It Works
                    </a></p>
                    <p><a class="text-decoration-none text-muted"
                          href="{{ url_for('main.faq') }}">
                        Help & FAQs
                    </a></p>
                    <p><a class="text-decoration-none text-muted"
                          href="{{ url_for('main.contact') }}">
                        Contact Us
                    </a></p>
                </div>
                <div class="col-auto">
                    {#                    <p><a class="text-decoration-none text-muted"#}
                    {#                          href="{{ url_for('main.index') }}">#}
                    {#                        Community Guidelines#}
                    {#                    </a></p>#}
                    <p><a class="text-decoration-none text-muted"
                          href="{{ url_for('main.terms') }}">
                        Terms
                    </a></p>
                    <p><a class="text-decoration-none text-muted"
                          href="{{ url_for('main.privacy') }}">
                        Privacy Policy
                    </a></p>
                    <p><a class="text-decoration-none text-muted"
                          href="{{ url_for('main.cookie') }}">
                        Cookie Policy
                    </a></p>
                    {#                    <p><a class="text-decoration-none text-muted"#}
                    {#                          href="{{ url_for('main.feedback') }}">#}
                    {#                        Feedback#}
                    {#                    </a></p>#}
                </div>
            </div>
        </div>
        <div class="card-footer small">
            &copy; 2022 {{ config["APP_NAME"] }}. All rights reserved.
        </div>
    </div>
{% endmacro %}
