{% from "macros/utils.html" import render_modal, button_class, render_form_modal %}
{% from "macros/form.html" import render_report_form %}

{%- macro render_user_plain(user, capitalize=True) -%}
    {%- if user == current_user -%}
        {{- "You" if capitalize else "you" -}}
    {%- else -%}
        {{- ("A " if capitalize else "a ") + (user.adjective + " user" if user.adjective else "user") -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro render_user(user, capitalize=True) -%}
    <a class="text-decoration-none {% if user == current_user %}text-muted{% endif %}"
       href="{{ url_for("main.user", user_id=user.id) }}">
        {{- render_user_plain(user, capitalize) -}}
    </a>
{%- endmacro -%}

{# tags_in_filter should contain all the ACTIVE tags on the current page #}
{% macro render_tag(tag, tags_in_filter=[], freq=None, extra_class="", ignore_ids=['asking', 'answering']) %}
    {% if tag.id not in ignore_ids %}
        <a class="badge rounded-pill border text-decoration-none
        bg-{{- 'info' if tag.id == 'asking' else ('warning' if tag.id == 'answering' else 'light') }}
        text-dark {{ extra_class }}" href="
        {% if tag in tags_in_filter %}
            {# if the tag is already active, the link will remove the tag from the filter #}
            {{ url_for("main.browse", tags=tags_in_filter|select('ne', tag)|join('+', attribute='name')) }}
        {% else %}
            {# if the tag is not in the active filter, the link will add it #}
            {{ url_for("main.browse", tags=([tag] + tags_in_filter)|join('+', attribute='name')) }}
        {% endif %}
        ">#{{ tag.name }} {% if freq %}
            <span class="badge bg-secondary opacity-75 rounded-pill">{{ freq }}</span>{% endif %}
        </a>
    {% endif %}
{% endmacro %}

{% macro render_card(node, above_title=None, after_title=None, card_text=None, card_footer=None,
    style_map={'asking':'info', 'answering':'warning'}) %}
    {% set post = node.post %}
    <div class="card mb-3 {{ style_map[post.type] }}">
        <div class="card-body pt-2 pb-{%- if card_text -%}2{% else %}0{% endif %}">
            {% if above_title %}
                {{ above_title }}
            {% endif %}
            <div class="card-title">
                <div class="btn-group btn-group-sm buy-sell" role="group">
                    <a href="{{ url_for("main.browse", tags=post.type) }}"
                       class="btn btn-{{- style_map[post.type] }}">
                        {{ post.type.capitalize() }}
                    </a>
                    <button type="button" class="btn btn-secondary" disabled>
                        {{ "$%.2f"|format(node.display_value(current_user)) }}
                    </button>
                </div>
                <a class="text-decoration-none text-dark"
                   style="vertical-align: middle"
                   href="{{ url_for("main.view_node", node_id=node.id) }}">
                    <b>{{ post.title }}</b>
                </a>
                {% if after_title %}
                    {{ after_title }}
                {% endif %}
            </div>
            {% if card_text %}
                {{ card_text }}
            {% endif %}
        </div>
        {% if card_footer %}
            {{ card_footer }}
        {% endif %}
    </div>
{% endmacro %}

{% macro post_above_title(node, render_last_updated) %}
    {% set post = node.post %}
    <p class="small text-muted mb-1">
        {% if post.is_private %}<span class="badge bg-dark">Private</span>{% endif %}
        {% if render_last_updated %}
            {% if current_user == post.creator and current_user == node.creator %}
                {% set n = post.nodes.count() - 1 %}
                {{ n }} {% if n > 1 %}users have{% else %}user has{% endif %} shared or contributed,
                last activity was
            {% else %}
                {% if current_user == post.creator %}
                    Interacting with {{ render_user(node.creator, capitalize=False) }},
                {% else %}
                    Posted by {{ render_user(post.creator, capitalize=False) }},
                {% endif %}
                last interaction was
            {% endif %}
            {{ moment(node.last_updated).fromNow() }}
        {% else %}
            {{ render_user(post.creator) }} posted {{ moment(post.timestamp).fromNow() }}
        {% endif %}
    </p>
{% endmacro %}

{% macro post_after_title(post, tag_limit) %}
    {% for post_tag in post.post_tags[:tag_limit] %}
        {{ render_tag(post_tag.tag) }}
    {% endfor %}
{% endmacro %}

{% macro post_card_text(node, truncate_body) %}
    {% set post = node.post %}
    {% if truncate_body %}
        <a class="text-decoration-none" href="{{ url_for("main.view_node", node_id=node.id) }}">
    {% endif %}
<div class="card-text small text-dark {{ 'truncated-sm' if truncate_body }}">
    {% if post.body_html %}
        {{ post.body_html | safe }}
    {% else %}
        {{ post.body[1:] }}
    {% endif %}
</div>
{% if truncate_body %}
    </a>
{% endif %}
{% endmacro %}


{% macro post_card_footer(node) %}
    {% set post = node.post %}
    <div class="card-footer py-0">
        {% if not post.is_archived %}
            <a href="{{ url_for('main.share_node', node_id=node.id) }}"
               class="btn btn-sm btn-outline-dark border-0 mx-0 my-0 rounded-0">
                <b>Share</b>
            </a>
            {% if current_user == post.creator %}
                <a href="{{ url_for('main.edit_post', post_id=post.id) }}"
                   class="btn btn-sm btn-outline-dark border-0 mx-0 my-0 rounded-0">
                    <b>Edit</b>
                </a>

                <button type="button" class="btn btn-sm btn-outline-dark border-0 mx-0 my-0 rounded-0"
                        data-bs-toggle="modal" data-bs-target="#modalArchive">
                    <b>Archive</b></button>

                {{ render_modal(
                    modal_id='modalArchive',
                    modal_title='Archive this post?',
                    modal_body='Hide the post and stop accepting contributions from other users? Active engagements are not affected.',
                    confirm_url=url_for('main.toggle_archive_post', post_id=post.id)) }}

            {% endif %}
            {% if current_user != post.creator %}
                <button type="button" class="btn btn-sm btn-outline-dark border-0 mx-0 my-0 rounded-0"
                        data-bs-toggle="modal" data-bs-target="#modalReport">
                    <b>Report</b></button>
                {{ render_form_modal(
                    modal_id='modalReport',
                    modal_title='Report Post',
                    modal_body=render_report_form(form=report_form, post_id=node.post_id),
                    simple_format=True) }}
                {#                    <div class="modal fade" id="modalReport" tabindex="-1">#}
                {#                        <div class="modal-dialog modal-fullscreen-sm-down">#}
                {#                            <div class="modal-content">#}
                {#                                <div class="modal-header">#}
                {#                                    <h6 class="modal-title">#}
                {#                                        What is the reason for reporting this post?#}
                {#                                    </h6>#}
                {#                                    <button type="button" class="btn-close" data-bs-dismiss="modal"#}
                {#                                            aria-label="Close"></button>#}
                {#                                </div>#}
                {#                                <div class="modal-body text-center">#}
                {#                                    <form action="{{ url_for('main.report_post', post_id=post.id) }}" method="post">#}
                {#                                        {{ report_form.hidden_tag() }}#}
                {#                                        <div class="input-group input-group-sm mb-3">#}
                {#                                                <textarea name="reason" class="form-control" rows="4"#}
                {#                                                          placeholder="Spam / Harassment / Leaking personal information / Copyright infringement / Other illegal activities"#}
                {#                                                          required></textarea>#}
                {#                                        </div>#}
                {#                                        <input type="submit" id="btnReport"#}
                {#                                               class="btn btn-{{- button_class(current_user, post) -}}">#}
                {#                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">#}
                {#                                            Cancel#}
                {#                                        </button>#}
                {#                                    </form>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}

            {% endif %}
        {% else %}
            {% if current_user == post.creator %}
                <a id="btnUnarchive" class="btn btn-sm btn-outline-dark border-0 mx-0 my-0 rounded-0"
                   href="{{ url_for('main.toggle_archive_post', post_id=post.id) }}">
                    <b>Unarchive</b>
                </a>
            {% else %}
                <div class="text-muted small my-1">
                    <b>This post is no longer accepting new contributions.</b>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endmacro %}

{# Note: buy/sell tags are ignored by render_tag, so if n tags should be rendered, tag_limit should be set to n+1 #}
{% macro render_post_card(node, render_body=True, tag_limit=None, truncate_body=False, buttons=False, render_last_updated=False) %}
    {{ render_card(
           node,
           above_title=post_above_title(node, render_last_updated),
           after_title=post_after_title(node.post, tag_limit=tag_limit),
           card_text=post_card_text(node, truncate_body=truncate_body) if render_body else None,
           card_footer=post_card_footer(node) if buttons else None) }}
{% endmacro %}


{% macro render_message(message, viewer, last_timestamp=None, gap_in_seconds=300) %}
    {% if last_timestamp is none or (last_timestamp - message.timestamp).total_seconds()|abs > gap_in_seconds %}
        <div class="card my-3 small mx-auto text-center border-0" style="width:80%">
            <div class="card-body py-0 text-muted small bg-light">
                {{ moment(message.timestamp).calendar() }}
            </div>
        </div>
    {% endif %}

    <div {# id="message{{- message.id }}" #} class="card my-3 small
        {% if message.type >= Message.TYPE_REQUEST %}
            mx-auto text-center
        {% elif message.creator == message.node.creator %}
            ms-auto
        {% elif message.creator == message.node.post.creator %}
            me-auto
        {% endif %}
        {% if message.type >= Message.TYPE_REQUEST %}
              bg-light border-0
        {% elif message.creator == message.node.post.creator %}
            {% if message.node.post.type == 'asking' %}info10{% else %}warning10{% endif %}
        {% else %}
            {% if message.node.post.type == 'answering' %}info10{% else %}warning10{% endif %}
        {% endif %}
        "
                                             style="
                                                     max-width:
                                                     {% if message.type >= Message.TYPE_REQUEST %}
                                                         80%
                                                     {% else %}
                                                         90%
                                                     {% endif %};
                                                     {% if message.type < Message.TYPE_REQUEST %}
                                                         border-radius: 10px;
                                                         {% if message.creator == message.node.creator %}
                                                             border-bottom-right-radius: 0;
                                                         {% elif message.creator == message.node.post.creator %}
                                                             border-bottom-left-radius: 0;
                                                         {% endif %}
                                                     {% endif %}
                                                     ">
        <div class="card-body py-1 {% if message.type >= Message.TYPE_REQUEST %}text-muted{% else %}text-dark{% endif %}">
            {{ message.text }}
            {% if message.type in (Message.TYPE_REQUEST, Message.TYPE_CANCEL, Message.TYPE_ACCEPT, Message.TYPE_RATE) %}
                by {{ render_user(message.creator, capitalize=False) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro engagement_above_title(engagement) %}
    {% set post = engagement.node.post %}
    <p class="small text-muted mb-1">
        {% if post.is_private %}<span class="badge bg-dark">Private</span>{% endif %}
        Engaged with {% if current_user == post.creator %}
        {{- render_user(engagement.node.creator, capitalize=False) -}},
    {% else %}
        {{- render_user(post.creator, capitalize=False) -}},
    {% endif %}
        last interacted {{ moment(engagement.last_updated).fromNow() }}
    </p>
{% endmacro %}

{% macro engagement_card_text(engagement) %}
    <a class="text-decoration-none text-dark"
       href="{{ url_for("main.view_node", node_id=engagement.node_id) }}">
        <div class="card-text">
            {% if engagement.state == Engagement.STATE_REQUESTED %}
                {% if current_user.id == engagement.sender_id %}
                    <h6 class="mb-1"><span
                            class="badge rounded-pill bg-secondary">Request For Engagement Sent</span></h6>
                {% else %}
                    <h6 class="mb-1"><span
                            class="badge rounded-pill bg-primary">Request For Engagement Received</span></h6>
                {% endif %}
            {% elif engagement.state == Engagement.STATE_ENGAGED %}
                <h6 class="mb-1"><span class="badge rounded-pill bg-success">Engagement In Progress</span></h6>
            {% endif %}
        </div>
    </a>
{% endmacro %}

{% macro render_engagement(engagement) %}
    {{ render_card(
           engagement.node,
           above_title=engagement_above_title(engagement),
           card_text=engagement_card_text(engagement)) }}
{% endmacro %}

{% macro notification_above_title(notification) %}
    <p class="small mb-1">
        <a class="text-decoration-none text-dark"
           href="{{ url_for('main.view_node', node_id=notification.node_id) }}">
            {{ notification.read() }}
            {{ moment(notification.timestamp).fromNow() }}
        </a>
    </p>
{% endmacro %}

{% macro render_notification(notification) %}
    {#    <div class="px-3 py-2 border rounded mb-3 bg-{{- 'light' if notification.is_read else 'white' -}}">#}
    {#        {{ notification.read() }} on post#}
    {#        <a class="text-decoration-none"#}
    {#           href="{{ url_for('main.view_node', node_id=notification.node_id) }}">#}
    {#             {{ notification.node.post.title }}#}
    {#        </a>#}
    {#        <p class="mb-0">#}
    {#            <small class="text-muted">{{ moment(notification.timestamp).calendar() }}</small>#}
    {#        </p>#}
    {#    </div>#}
    {{ render_card(notification.node) }}
{% endmacro %}