{% macro render_track_record(user, engagements) %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Value</th>
            <th scope="col">Role</th>
            <th scope="col">Success?</th>
            <th scope="col">Dispute?</th>
        </tr>
        </thead>
        <tbody>
        {% for engagement in engagements %}
            {% set is_success = engagement.rating_by_asker == engagement.rating_by_answerer == 1 %}
            {% set is_dispute = engagement.rating_by_asker == -1 and engagement.rating_by_answerer == 1 %}
            <tr class="table-{%- if is_success -%}success{%- elif is_dispute -%}danger{%- else -%}secondary{%- endif -%}">
                <th scope="row">{{ moment(engagement.last_updated).format('HH:mm:ss') }}</th>
                <td>{{ '{0:.2f}'.format(0.01 * engagement.node.value_cent) }}</td>
                <td>{% if user.id == engagement.asker_id %}
                    Asker
                {% elif user.id == engagement.answerer_id %}
                    Answerer
                {% endif %}
                </td>
                <td>{{ is_success }}</td>
                <td>{{ is_dispute }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}




{% macro render_reward_info(node) %}
    {% set post = node.post %}
    {% if current_user == post.creator %}
        {% set n_nodes = post.nodes.count() - 1 %}
        <div class="alert alert-success bg-white alert-dismissible fade show small py-2" role="alert">
            {% if n_nodes > 0 %}
                {{ n_nodes }} {% if n_nodes > 1 %}users have{% else %}user has{% endif %} shared or contributed to this
                post.
            {% elif post.is_private %}
                Share your post and let others join the search! Send it to your friends or share it on Twitter,
                Facebook, Twitter, Reddit... whatever your favorite online community is. Your post is in
                <b>Private Mode</b>, which means it solely relies on the power of your social networks to reach
                the people you are looking for.
            {% else %}
                Share your post and let others join the search! Send it to your friends or share it on Twitter,
                Facebook, Twitter, Reddit... whatever your favorite online community is.
            {% endif %}
            <button type="button" class="btn-close small mt-1 py-2 pe-1" data-bs-dismiss="alert"></button>
        </div>
        <div class="alert alert-success bg-white alert-dismissible fade show small py-2" role="alert">
            {% if post.type == Post.TYPE_BUY %}
                Upon successful engagement, you pay {{ '${0:.2f}'.format(0.01 * node.value_cent) }}, of which:
                <ul class="mb-0">
                    <li>up to {{ '${0:.2f}'.format(0.01 * post.referral_budget_cent) }} goes to the referrers</li>
                    <li>
                        {{ '${0:.2f}'.format(0.01 * post.platform_fee_cent) }} is the platform fee
                    </li>
                    <li>
                        the remaining amount goes to the answerer
                    </li>
                </ul>
            {% else %}
                Upon successful engagement, asker pays :
                <ul class="mb-0">
                    <li>
                        {{ '${0:.2f}'.format(0.01 * node.answerer_reward_cent) }} to you
                    </li>
                    <li>up to {{ '${0:.2f}'.format(0.01 * post.referral_budget_cent) }} to the referrers</li>
                    <li>
                        {{ '${0:.2f}'.format(0.01 * post.platform_fee_cent) }} as the platform fee
                    </li>
                </ul>
            {% endif %}
            <button type="button" class="btn-close small mt-1 py-2 pe-1" data-bs-dismiss="alert"></button>
        </div>
    {% elif current_user == node.creator %}
        <div class="alert alert-success bg-white alert-dismissible fade show small py-2" role="alert">
            <b>Share</b> - you
            {% if post.is_private %}
                earn
            {% else %}
                can earn up to
            {% endif %}
            {{ '${0:.2f}'.format(node.display_referrer_reward(current_user)) }}
            for each successful engagement your referral leads to, or
            <p></p>
            {% if post.type == Post.TYPE_SELL %}
                <b>Request for Engagement</b> - you pay {{ '${0:.2f}'.format(0.01 * node.value_cent) }} upon
                successful engagement, of which:
                <ul class="mb-0">
                    <li>{{ '${0:.2f}'.format(0.01 * node.sum_referrer_reward_cent) }} goes to the referrers</li>
                    <li>
                        {{ '${0:.2f}'.format(0.01 * post.platform_fee_cent) }} is the platform fee
                    </li>
                    <li>
                        {{ '${0:.2f}'.format(0.01 * node.answerer_reward_cent) }} goes to the answerer
                    </li>
                </ul>
            {% else %}
                <b>Request for Engagement</b> - the asker pays {{ '${0:.2f}'.format(0.01 * node.value_cent) }} upon
                successful engagement, of which:
                <ul class="mb-0">
                    <li>{{ '${0:.2f}'.format(0.01 * node.sum_referrer_reward_cent) }} goes to the referrers</li>
                    <li>
                        {{ '${0:.2f}'.format(0.01 * post.platform_fee_cent) }} is the platform fee
                    </li>
                    <li>
                        {{ '${0:.2f}'.format(0.01 * node.answerer_reward_cent) }} goes to you (the answerer)
                    </li>
                </ul>
            {% endif %}
            <button type="button" class="btn-close small mt-1 py-2 pe-1" data-bs-dismiss="alert"></button>
        </div>
    {% else %}
        {% set answerer_reward_cent, sum_referrer_reward_cent, value_cent = node.rewards_for_next_node_cent() %}
        <div class="alert alert-success bg-white alert-dismissible fade show small py-2" role="alert">
            <b>Share</b> - you can earn up to
            {{ '${0:.2f}'.format(node.display_referrer_reward(current_user)) }}
            for each successful engagement your referral leads to, or
            <p></p>
            {% if post.type == Post.TYPE_SELL %}
                <b>Request for Engagement</b> - you (the asker) pay {{ '${0:.2f}'.format(0.01 * value_cent) }} upon
                successful engagement, of which:
                <ul class="mb-0">
                    <li>{{ '${0:.2f}'.format(0.01 * sum_referrer_reward_cent) }} goes to the referrers</li>
                    <li>
                        {{ '${0:.2f}'.format(0.01 * post.platform_fee_cent) }} is the platform fee
                    </li>
                    <li>
                        {{ '${0:.2f}'.format(0.01 * answerer_reward_cent) }} goes to the answerer
                    </li>
                </ul>
            {% else %}
                <b>Request for Engagement</b> - the asker pays {{ '${0:.2f}'.format(0.01 * value_cent) }} upon
                successful engagement, of which:
                <ul class="mb-0">
                    <li>{{ '${0:.2f}'.format(0.01 * sum_referrer_reward_cent) }} goes to the referrers</li>
                    <li>
                        {{ '${0:.2f}'.format(0.01 * post.platform_fee_cent) }} is the platform fee
                    </li>
                    <li>
                        {{ '${0:.2f}'.format(0.01 * answerer_reward_cent) }} goes to you (the answerer)
                    </li>
                </ul>
            {% endif %}
            <button type="button" class="btn-close small mt-1 py-2 pe-1" data-bs-dismiss="alert"></button>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_modal(modal_id, modal_title, modal_body, confirm_url) %}
    <div class="modal" tabindex="-1" role="dialog" id="{{ modal_id }}">
        <div class="modal-dialog modal-dialog-centered {% if request.MOBILE %}mx-5{% else %}modal-sm{% endif %}"
             role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-body p-4 text-center">
                    <h5>{{ modal_title|safe }}</h5>
                    <p class="mb-0">{{ modal_body|safe }}</p>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <a id="btn_{{- modal_id -}}" href="{{ confirm_url }}"
                       class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end">
                        <strong>Confirm</strong></a>
                    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0"
                            data-bs-dismiss="modal">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_form_modal(modal_id, modal_title, modal_body) %}
    <div class="modal fade" tabindex="-1" role="dialog" id="{{ modal_id }}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadow bg-light" style="border-radius: 1rem">
                <div class="modal-header px-{%- if request.MOBILE %}4{%- else %}5{% endif %} pt-4 pb-2 border-bottom-0">
                    <h2 class="fw-bold mb-0">
                        {% if request.MOBILE %}
                            <img src="{{ url_for('static', filename='apple-touch-icon.png') }}"
                                 width="32" height="32"
                                 class="d-inline-block align-text-bottom">
                        {% else %}
                            <img src="{{ url_for('static', filename='apple-touch-icon.png') }}"
                                 width="40" height="40"
                                 class="d-inline-block align-text-top">
                        {% endif %}
                        {{ modal_title }}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-{%- if request.MOBILE %}4{%- else %}5{% endif %}">
                    {{ modal_body }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro text_area_style(user, post) %}
    {%- if (user == post.creator and post.type == "asking") or
            (user != post.creator and post.type == "answering") -%}
        background-color: rgba(13, 202, 240, 0.05);border-color: #0dcaf0;height: 10rem
    {%- elif (user == post.creator and post.type == "answering") or
            (user != post.creator and post.type == "asking") -%}
        background-color: rgba(255, 193, 7, 0.05);border-color: #ffc107;height: 10rem
    {%- else -%}
        background-color: red
    {%- endif -%}
{% endmacro %}


{% macro button_class(user, post) %}
    {%- if (user == post.creator and post.type == "asking") or
            (user != post.creator and post.type == "answering") -%}
        info
    {%- elif (user == post.creator and post.type == "answering") or
            (user != post.creator and post.type == "asking") -%}
        warning
    {%- else -%}
        danger
    {%- endif -%}
{% endmacro %}
