{% extends "index.html" %}
{% from "macros/render_models.html" import render_engagement with context %}

{% block mid_col %}
    <div class="accordion accordion-flush mb-3">
        <div class="accordion-item bg-light">
            <h2 class="accordion-header">
                <button class="accordion-button py-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionBasicInfo">
                    Account Information
                </button>
            </h2>
            <div id="accordionBasicInfo" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div>
                                <h6 class="my-0">Known As</h6>
                            </div>
                            <div class="text-end">
                                <div class="text-muted">A {% if user.adjective %}{{ user.adjective }}{% endif %} user
                                </div>
                                <span class="text-muted">
                                    <a class="badge btn-primary text-decoration-none"
                                       href="{{ url_for('main.user', user_id=current_user.id) }}">My Public Profile</a>
                                </span>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm bg-light">
                            <div>
                                <h6 class="my-0">Balance Available</h6>
                            </div>
                            <div class="text-end">
                                <div class="text-muted">{{ '${0:.2f}'.format(user.total_balance - user.reserved_balance) }}</div>
                                <span>
                                    <a class="badge btn-success text-decoration-none text-white"
                                       href="{{ url_for('main.top_up', price_id=config['STRIPE_PRICE_5']) }}">Top-up
                                        $5</a>
                                    <a class="badge btn-warning text-decoration-none text-white"
                                       href="{{ url_for('main.top_up', price_id=config['STRIPE_PRICE_10']) }}">Top-up
                                        $10</a>
                                    <a class="badge btn-danger text-decoration-none text-white"
                                       href="{{ url_for('main.top_up', price_id=config['STRIPE_PRICE_20']) }}">Top-up
                                        $20</a>
                                </span>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm bg-light">
                            <div>
                                <h6 class="my-0">Reward Limit</h6>
                                <small class="text-muted"></small>
                            </div>
                            <span class="text-muted">{{ '${0:.2f}'.format(user.reward_limit) }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item bg-light">
            <h2 class="accordion-header">
                <button class="accordion-button py-2 {% if not uncompleted_engagements %}collapsed{% endif %}"
                        type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionEngagements">
                    Engagements
                </button>
            </h2>
            <div id="accordionEngagements" class="accordion-collapse collapse
                {% if uncompleted_engagements %}show{% endif %}">
                <div class="accordion-body pe-0 pt-0">
                    <div class="accordion accordion-flush">
                        <div class="accordion-item bg-light">
                            <h2 class="accordion-header">
                                <button class="accordion-button py-1"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionEngagementsMyPosts">
                                    <small>My Q&As</small>
                                </button>
                            </h2>
                            <div id="accordionEngagementsMyPosts" class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    {% set ns = namespace(empty=True) %}
                                    <small>
                                        {% for engagement in uncompleted_engagements if engagement.node.post.creator == current_user %}
                                            {{ render_engagement(engagement) }}
                                            {% set ns.empty = False %}
                                        {% endfor %}
                                        {% if ns.empty %}
                                            <span class="text-muted">You have no active engagements on your Q&As.</span>{% endif %}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion accordion-flush">
                        <div class="accordion-item bg-light">
                            <h2 class="accordion-header">
                                <button class="accordion-button py-1"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionEngagementsOtherPosts">
                                    <small>Others' Q&As</small>
                                </button>
                            </h2>
                            <div id="accordionEngagementsOtherPosts" class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    {% set ns = namespace(empty=True) %}
                                    <small>
                                        {% for engagement in uncompleted_engagements if engagement.node.post.creator != current_user %}
                                            {{ render_engagement(engagement) }}
                                            {% set ns.empty = False %}
                                        {% endfor %}
                                        {% if ns.empty %}
                                            <span class="text-muted">You have no active engagements on others' Q&As.</span>{% endif %}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item bg-light">
            <h2 class="accordion-header">
                <button class="accordion-button py-2 {% if not nodes %}collapsed{% endif %}"
                        type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionMyPosts">
                    My Q&As
                </button>
            </h2>
            <div id="accordionMyPosts" class="accordion-collapse collapse {% if nodes %}show{% endif %}">
                <div class="accordion-body">
                    {% set ns = namespace(empty=True) %}
                    <small>
                        {% for node in nodes if node.parent is none and not node.post.is_archived %}
                            {{ render_post_card(node, render_body=False, render_last_updated=True, truncate_body=True, buttons=False, tag_limit=4) }}
                            {% set ns.empty = False %}
                        {% endfor %}
                        {% if ns.empty %}<p class="text-muted">You have no active Q&As.</p>{% endif %}
                    </small>

                    <div class="accordion accordion-flush">
                        <div class="accordion-item bg-light">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed py-1"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionMyPostArchived">
                                    <small>Archived</small>
                                </button>
                            </h2>
                            <div id="accordionMyPostArchived" class="accordion-collapse collapse">
                                <div class="accordion-body opacity-50">
                                    {% set ns = namespace(empty=True) %}
                                    <small>
                                        {% for node in nodes if node.parent is none and node.post.is_archived %}
                                            {{ render_post_card(node, render_body=False, render_last_updated=True, truncate_body=True, buttons=False, tag_limit=4) }}
                                            {% set ns.empty = False %}
                                        {% endfor %}
                                        {% if ns.empty %}
                                            <span class="text-muted">You have no archived Q&As.</span>{% endif %}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item bg-light">
            <h2 class="accordion-header">
                <button class="accordion-button py-2 {% if not nodes %}collapsed{% endif %}"
                        type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionOtherPosts">
                    Others' Q&As
                </button>
            </h2>
            <div id="accordionOtherPosts" class="accordion-collapse collapse {% if nodes %}show{% endif %}">
                <div class="accordion-body">
                    {% set ns = namespace(empty=True) %}
                    <small>
                        {% for node in nodes if node.parent is not none and not node.post.is_archived %}
                            {{ render_post_card(node, render_body=False, render_last_updated=True, truncate_body=True, buttons=False, tag_limit=4) }}
                            {% set ns.empty = False %}
                        {% endfor %}
                        {% if ns.empty %}
                            <p class="text-muted">You are not participating in any Q&As by others that are active.</p>
                        {% endif %}
                    </small>

                    <div class="accordion accordion-flush">
                        <div class="accordion-item bg-light">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed py-1"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionOtherPostsArchived">
                                    <small>Archived</small>
                                </button>
                            </h2>
                            <div id="accordionOtherPostsArchived" class="accordion-collapse collapse">
                                <div class="accordion-body opacity-50">
                                    {% set ns = namespace(empty=True) %}
                                    <small>
                                        {% for node in nodes if node.parent is not none and node.post.is_archived %}
                                            {{ render_post_card(node, render_body=False, render_last_updated=True, truncate_body=True, buttons=False, tag_limit=4) }}
                                            {% set ns.empty = False %}
                                        {% endfor %}
                                        {% if ns.empty %}
                                            <span class="text-muted">You have not participated in any Q&As by others that are archived.</span>
                                        {% endif %}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}