{% extends "index.html" %}
{% from "macros_models.html" import render_engagement with context %}

{% block mid_col %}
    <div class="accordion accordion-flush mb-3">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button py-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionBasicInfo">
                    <b>Basic Information</b>
                </button>
            </h2>
            <div id="accordionBasicInfo" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <p>ID: {{ user.id }}</p>
                    <p>User since: {{ moment(user.timestamp).format('MMM YYYY') }}</p>
                    <p>Average response time: TODO</p>
                    <p>Last seen: TODO</p>
                    <p>Last seen: TODO</p>
                    <p><a href="{{ url_for('main.user', user_id=current_user.id) }}">My Public Profile</a></p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button py-2 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionActiveEngagements">
                    <b>Active Engagements</b>
                </button>
            </h2>
            <div id="accordionActiveEngagements" class="accordion-collapse collapse">
                <div class="accordion-body">
                    {% for engagement in uncompleted_engagements %}
                        {{ render_engagement(engagement) }}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button py-2 collapsed"
                        type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionActiveInteractions">
                    <b>Other Interactions - Open</b>
                </button>
            </h2>
            <div id="accordionActiveInteractions" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body pe-0 pt-0">
                    <div class="accordion accordion-flush">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button py-1"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionActiveInteractionsMyPosts">
                                    <small><b>Posts by you</b></small>
                                </button>
                            </h2>
                            <div id="accordionActiveInteractionsMyPosts" class="accordion-collapse collapse show"
                                 aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    {% set ns = namespace(empty=True) %}
                                    {% for post in other_posts %}
                                        {% if post.is_open %}
                                            {{ render_post_card(post, truncate_body=True, buttons=False, tag_limit=4) }}
                                            {% set ns.empty = False %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if ns.empty %}
                                        <small class="text-muted">
                                            There are no other posts you have created that are open for contributions.
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion accordion-flush">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button py-1"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionActiveInteractionsOtherPosts">
                                    <small><b>Posts by others</b></small>
                                </button>
                            </h2>
                            <div id="accordionActiveInteractionsOtherPosts" class="accordion-collapse collapse show"
                                 aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    {% set ns = namespace(empty=True) %}
                                    {% for node in other_nodes %}
                                        {% if node.post.is_open %}
                                            {{ render_post_card(node.post, truncate_body=True, buttons=False, tag_limit=4) }}
                                            {% set ns.empty = False %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if ns.empty %}
                                        <small class="text-muted">
                                            There are no other posts you have interacted with that are open for contributions.
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button py-2 collapsed"
                        type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionInactiveInteractions">
                    <b>Other Interactions - Archived</b>
                </button>
            </h2>
            <div id="accordionInactiveInteractions" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body pe-0 pt-0">
                    <div class="accordion accordion-flush">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button py-1"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionInactiveInteractionsMyPosts">
                                    <small><b>Posts by you</b></small>
                                </button>
                            </h2>
                            <div id="accordionInactiveInteractionsMyPosts" class="accordion-collapse collapse show"
                                 aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    {% set ns = namespace(empty=True) %}
                                    {% for post in other_posts %}
                                        {% if not post.is_open %}
                                            {{ render_post_card(post, truncate_body=True, buttons=False, tag_limit=4) }}
                                            {% set ns.empty = False %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if ns.empty %}
                                        <small class="text-muted">
                                            There are no posts you have created that are archived.
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion accordion-flush">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button py-1"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#accordionInactiveInteractionsOtherPosts">
                                    <small><b>Posts by others</b></small>
                                </button>
                            </h2>
                            <div id="accordionInactiveInteractionsOtherPosts" class="accordion-collapse collapse show"
                                 aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    {% set ns = namespace(empty=True) %}
                                    {% for node in other_nodes %}
                                        {% if not node.post.is_open %}
                                            {{ render_post_card(node.post, truncate_body=True, buttons=False, tag_limit=4) }}
                                            {% set ns.empty = False %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if ns.empty %}
                                        <small class="text-muted">
                                            There are no posts you have interacted with that are archived.
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}