{% extends "index.html" %}
{% from "macros/render_models.html" import render_notification with context %}


{% block mid_col %}
    {% set ns = namespace(node_id=None) %}
    {% for notification in notifications %}
        {% set is_read = notification.is_read %}
        {% if ns.node_id is not none and ns.node_id != notification.node_id %}
            <hr>
        {% endif %}
        <p class="bg-light">
            {# red eecfd3 #} {# teal caebe1 #} {# green c9dfd6 #} {# pink eecede #}
            <span class="badge rounded-pill text-dark"
                  style="font-weight: normal;background-color: {% if is_read %}#e9ecef{% else %}#caebe1{% endif %}">
            {{ moment(notification.timestamp).calendar() }}</span>
            <a href="{{ url_for('main.view_node', node_id=notification.node_id) }}"
               class="small text-decoration-none text-dark">
                {{ notification.read() }}
            </a>
        </p>
        {% if ns.node_id != notification.node_id %}
            <div class="opacity-{%- if is_read %}50{%- else %}75{% endif %} small ms-5 mt-2">
                {{ render_notification(notification) }}
            </div>
            {% set ns.node_id = notification.node_id %}
        {% endif %}
    {% endfor %}
{% endblock %}