{% extends "index.html" %}
{% from "macros/render_models.html" import render_notification with context %}


{% block mid_col %}
    <ul class="list-group list-group-flush">
        {% for notification in notifications %}
            {% set is_read = notification.is_read %}
            <li class="list-group-item bg-light">
                <small class="text-muted">{{ moment(notification.timestamp).calendar() }}</small>
                <div class="d-flex w-100 justify-content-between mb-2">
                    <a href="{{ url_for('main.view_node', node_id=notification.node_id) }}"
                       class="text-decoration-none text-{%- if is_read %}muted{%- else %}dark{% endif %}">
                        {{ notification.read() }}
                    </a>
                </div>
                <div class="opacity-{%- if is_read %}50{%- else %}75{% endif %} small ms-5">
                    {{ render_notification(notification) }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}