{% import "macros.html" as macros %}

<!doctype html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ macros.bootstrap_css() }}
        {{ macros.favicon_meta() }}
        {{ macros.ios_meta(app_title="Knowble") }}

        <title>{% block title %}Knowble - Casual knowledge discovery and sharing{% endblock %}</title>

        {% block head_append %}
        {% endblock %}
    {% endblock %}
</head>

<body class="bg-dark container-fluid vh-100 d-flex flex-column">
    {% block body %}
        {{ macros.render_navbar() }}

        {% block body_append %}
        {% endblock %}

        {{ macros.bootstrap_js() }}
    {% endblock %}
</body>

</html>