{% extends "base.html" %}

{% block main_container %}
    <div class="row">
        <div class="col-12 col-lg-8 col-xl-7">
            {% block mid_col %}
            {% endblock %}
        </div>
        <div class="col">
            <div class="position-sticky" style="top:75px">
                {% block right_col %}
                {% endblock %}
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col mt-3">
            <div class="position-sticky" style="top:75px">
                {% block extra_col %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
