{% import "macros_conf.html" as conf %}
{% import "macros_flash.html" as flash %}
{% import "macros_navbar.html" as navbar %}

<!doctype html>
<html lang="en">
<head>
    {% block head %}
        {% block meta %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {{ conf.ios_meta(app_title=config["APP_NAME"]) }}
        {% endblock %}
        {% block link %}
            {{ conf.favicon_meta() }}
            {{ conf.bootstrap_css() }}
            {{ conf.site_css() }}
        {% endblock %}
        {% block scripts %}
            {{ conf.bootstrap_js() }}
            {{ conf.smalltalk_js() }}
            {{ conf.socketio_js() }}
            {{ flash.flash_toast_js() }}
            {{ moment.include_moment() }}
        {% endblock %}
        <style>
            {% block style %}
            {% endblock %}
        </style>
        <title>
            {% block title %}
                {{ config["APP_NAME"] }} - {% if title %}{{ title }}{% else %}Boosted Q&A{% endif %}
            {% endblock %}
        </title>

        {% block head_appended %}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    {{ navbar.render_navbar(current_user) }}
    <div class="container-fluid">
        {{ flash.render_flash(dismissible=True, dismiss_animate=True) }}
    </div>
    <main>
        {% block main %}
            <div class="container my-3 pb-5">
                {% block main_container %}
                {% endblock %}
            </div>
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
            {{ navbar.render_navbar_bottom(current_user) }}
        {% endblock %}
    </footer>
{% endblock %}
</body>
</html>
<!-- {{ config["APP_VER"] }} -->
