{% import "macros.html" as macros %}
{% from "form.html" import render_flash %}

<!doctype html>
<html lang="en">

<head>
    {% block head %}
        {% block meta %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {{ macros.ios_meta(app_title=config["APP_NAME"]) }}
        {% endblock %}

        {% block link %}
            {{ macros.favicon_meta() }}
            {{ macros.bootstrap_css() }}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        {% endblock %}

        {% block scripts %}
            {{ macros.bootstrap_js() }}
            {{ moment.include_moment() }}
            {{ macros.smalltalk_js() }}
            {{ macros.socketio_js() }}
            <script>
                window.onload = (event) => {
                    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                    toastElList.map(function (toastEl) {
                        new bootstrap.Toast(toastEl).show({delay: 1000})
                    })
                }
            </script>
        {% endblock %}

        <style>
            {% block style %}
            {% endblock %}
        </style>

        <title>{% block title %}{{ config["APP_NAME"] }} -
            {% if title %}{{ title }}{% else %}Boosted Q&A{% endif %}{% endblock %}</title>

        {% block head_appended %}
        {% endblock %}
    {% endblock %}
</head>

<body>
{% block body %}
    {{ macros.render_navbar(current_user) }}

    <div class="container-fluid">
        {{ render_flash(dismissible=True, dismiss_animate=True) }}
    </div>

    <main>
        {% block main %}
            <div class="container my-3 pb-5">
                {% block main_container %}
                {% endblock %}
            </div>
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            {{ macros.render_navbar_bottom(current_user) }}
        {% endblock %}
    </footer>

{% endblock %}


</body>

</html>

<!-- {{ config["APP_VER"] }} -->