{% extends "index.html" %}

{% block mid_col %}
    <h1><strong>Cookie Policy</strong></h1>
    <div class="text-muted">Effective date: 1 March 2022</div>
    <div class="my-3">
        <p>This Cookie Policy explains how we use cookies and similar technologies as well as the options
            you have to control them. It should be read together with our <a href="{{ url_for('main.privacy') }}">
                Privacy Policy</a> which sets out how and why we collect, store, use and share personal information
            generally, as well as your rights in relation to your personal information and details of how to contact us
            and supervisory authorities if you have a complaint.
        </p>
    </div>
{% endblock %}