{% extends "index.html" %}

{% block mid_col %}
    <h3 class="mb-3">Hey, we have a new feature for you!</h3>
    <a href="#" class="text-decoration-none">
        <div class="card text-dark bg-light mb-3">
            <h5 class="card-header">
                Standard Mode
            </h5>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li>Like your traditional online forum where your post is listed on our front page and people
                            discover posts by browsing the platform
                        </li>
                        <li>Each referrer can earn up to 10% of the post reward, total referral reward for all referrers
                            is caped at 20% of post reward
                        </li>
                        <li>The answerer gets the remaining reward less our 10% platform fee (i.e. 90% if no referrer to
                            70% minimum)
                        </li>
                        <li>Referral reward is optional and shared at the discretion of the user who entered the
                            engagement with the OP
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="text-decoration-none">
        <div class="card text-white bg-dark">
            <h5 class="card-header">
                Social Media (a.k.a. Stealth) Mode
            </h5>
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li>The post lives on Social Media networks (Twitter, Facebook, Reddit or other online
                            communities)
                            and travels the world with the OP or referrers sharing it with their network of friends to
                            spread
                            the word
                        </li>
                        <li>
                            The post is not directly accessible on our platform and can only be accessed through links
                            shared
                            by the OP or the referrers
                        </li>
                        <li>
                            Each referrer can earn up to 20%(*) of the post reward, total referral reward for all
                            referrers
                            is caped at 40%(*) of post reward
                        </li>
                        <li>
                            Final answerer gets the remaining reward less our 10% platform fee (i.e. 90% if no
                            referrer to
                            70%
                            minimum)
                        </li>
                        <li>
                            Referral rewards are compulsory and guaranteed to be paid out!
                        </li>
                    </ul>
                    <div class="small text-muted">
                        (*) In Power User Mode (coming soon), the allocation of reward can be further customised
                        where
                        the
                        OP can set an almost arbitrary referral budget for the referrers to claim, and each referrer
                        can
                        decide for themselves how much to claim from pot, depending on how confident he is at
                        directly
                        finding someone to engage with OP and how much incentive he wants to offer to the subsequent
                        referrers.
                    </div>
                </div>
            </div>
        </div>
    </a>
{% endblock %}