{% extends "base.html" %}

{% from "form.html" import render_form %}
{% from "macros.html" import render_post_card with context %}

{% block main %}
    <div class="container my-4">
        <div class="row">
            <div class="col d-none d-md-block text-center">Tags</div>
            <div class="col col-md-8 col-lg-6">
                {% for post in posts %}
                    {{ render_post_card(post, truncate_body=True, post_badges=False, post_tags=False) }}
                {% endfor %}
            </div>
            <div class="col d-none d-md-block text-center">Links</div>
        </div>
    </div>
{% endblock %}
