{% extends "base.html" %}

{% block body_bg %}bg-dark{% endblock %}

{% block main %}
    <main class="my-auto py-5 bg-dark text-light">
        <div class="mx-auto mt-5 p-3" style="max-width: 45rem">
            <h1 class="display-5 fw-bold mb-3">Welcome to {{ config['APP_NAME'] }}</h1>
            <p class="lead">LumiAsk is a Q&A and casual service hosting and discovery platform. We help you host paid
                Q&A sessions as the questioner or answerer, and find the right people to engage with you on your topic
                of interest.
            </p>
            <h2 class="mt-5">Ask a question</h2>
            <p class="lead">Do you have a question that Google struggles to answer, and your Reddit post or Discord
                message are not getting much traction? Give us a try and see how much further some extra incentives will
                take you.</p>
            <a href="{{ url_for('main.view_node', node_id=config['URL_NODE_TRIAL']) }}" class="btn btn-success btn-lg">
                Try for free with $5 to spend</a>

            <h2 class="mt-5">Contribute and earn $ reward</h2>
            <p class="lead">Would you like to help with other people's questions and earn some reward in the process?
                You could be rewarded for contributions as simple as spreading the word!</p>
            <a href="{{ url_for('main.browse') }}" class="btn btn-success btn-lg mb-5">See open questions & requests</a>

            <hr>
            <p class="lead mt-5">By the way, if you fit one of the descriptions below, please get in touch - we have
                something special planned for you!</p>
            <div class="row mt-4">
                {% if config['URL_NODE_EXPERT'] %}
                    <div class="col-auto mb-3">
                        <div class="h-100 p-4 bg-info rounded">
                            <h3>Do you have a hobby with a vibrant online community?</h3>
                            <p>Are you particularly knowledgeable about something and actively helping newbies in an
                                online community? Give them a way to engage with you privately on questions that might
                                not interest the wider community (e.g. something that has been answered a million times
                                already - we have all been there!) or requires more effort to answer.
                            </p>
                            <a href="{{ url_for('main.view_node', node_id=config['URL_NODE_EXPERT']) }}"
                               class="btn btn-dark">I'm interested - what's next?</a>
                        </div>
                    </div>
                {% endif %}
                {% if config['URL_NODE_CREATOR'] %}
                    <div class="col-auto mb-3">
                        <div class="h-100 p-4 bg-warning rounded-3">
                            <h3>Are you a content creator?</h3>
                            <p>Are some of your supporters not yet comfortable with a Patreon subscription? Let them ask
                                the questions here and earn something on a per-engagement basis.</p>
                            <a href="{{ url_for('main.view_node', node_id=config['URL_NODE_CREATOR']) }}"
                               class="btn btn-dark">I'm interested - what's next?</a>
                        </div>
                    </div>
                {% endif %}
                {% if config['URL_NODE_REVIEWER'] %}
                    <div class="col-auto mb-3">
                        <div class="h-100 p-4 bg-danger rounded">
                            <h3>Are you a product reviewer?</h3>
                            <p>Do you get lots of questions from your audience? Let them know you are
                                on {{ config["APP_NAME"] }} to answer any questions they have.</p>
                            <a href="{{ url_for('main.view_node', node_id=config['URL_NODE_REVIEWER']) }}"
                               class="btn btn-dark">I'm interested - what's next?</a>
                        </div>
                    </div>
                {% endif %}
                {% if config['URL_NODE_FREELANCER'] %}
                    <div class="col-auto mb-3">
                        <div class="h-100 p-4 bg-primary rounded">
                            <h3>Are you a freelancer?</h3>
                            <p>Or do you want to try your hands at freelancing but there are too many hurdles to jump
                                through. Start small on LumiAsk and let others help you find clients.</p>
                            <a href="{{ url_for('main.view_node', node_id=config['URL_NODE_FREELANCER']) }}"
                               class="btn btn-dark">I'm interested - what's next?</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
