{% extends "base.html" %}

{% block main %}
    <div class="p-3 mx-auto text-center" style="max-width: 40rem">
        <h1>Welcome to {{ config["APP_NAME"] }}</h1>
        <p class="lead">LumiAsk helps you gain traction on the questions you ask in online communities, by offering real
            incentive for people to engage with you on your topic of interest, or connect you with someone who can.</p>
        <p class="lead">
            Coming soon in 2022
        </p>
    </div>
{% endblock %}
