{% macro bootstrap_css() %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
{% endmacro %}


{% macro bootstrap_js() %}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
{% endmacro %}


{% macro ios_meta(app_title) %}
    <meta name="apple-mobile-web-app-title" content="{{ app_title }}">
{% endmacro %}


{% macro favicon_meta() %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
{% endmacro %}


{% macro render_footer() %}
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img src='{{ url_for('static', filename='favicon-32x32.png') }}' width='32' height='32'
                         class='d-inline-block align-top' alt=''>
                </a>
                <span class="text-muted">&copy; 2022 Knowble Ltd.</span>
            </div>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Privacy Policy</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About Us</a></li>
            </ul>
        </footer>
    </div>
    <!--
    <footer class='footer text-center text-muted flex-shrink-0'>
        <div class='soc pt-3'>
            <a href='https://fb.me/KnowbleApp' class='soc-facebook' title='Facebook'></a>
            <a href='https://twitter.com/KnowbleApp' class='soc-twitter' title='Twitter'></a>
            <a href='https://www.linkedin.com/company/knowbleapp' class='soc-linkedin' title='LinkedIn'></a>
        </div>
        <small>Copyright &copy; 2022 Knowble Ltd. All Rights Reserved.
            <br/>Version: {{ config['APP_VERSION'] }}</small>
    </footer>
    -->
{% endmacro %}


{% macro render_navbar() %}
    <nav class="navbar navbar-expand-xxl navbar-dark bg-dark flex-shrink-0">
        <a class='navbar-brand' href='{{ url_for('index') }}'>
            <img src='{{ url_for('static', filename='apple-touch-icon.png') }}' width='32' height='32'
                 class='d-inline-block align-top' alt=''>
            Knowble
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-0 my-1 px-1">
                <li class="nav-item btn-outline-success rounded">
                    <a class="nav-link text-center" aria-current="page" href="#">
                        <i class="bi bi-plus-square me-1"></i>Post a Request
                    </a>
                </li>
                <li class="nav-item btn-outline-success rounded">
                    <a class="nav-link text-center" href="#">
                        <i class="bi bi-search me-1"></i>Browse</a>
                </li>
                <li class="nav-item btn-outline-success rounded">
                    <a class="nav-link text-center" href="#">
                        <i class="bi bi-signpost-split me-1"></i>How It Works</a>
                </li>
                <li class="nav-item btn-outline-success rounded">
                    <a class="nav-link text-center" href="#">
                        <i class="bi bi-chat me-1"></i>Support</a>
                </li>
                <li class="nav-item btn-outline-success rounded">
                    <a class="nav-link text-center" href="#">
                        <i class="bi bi-camera-video-off me-1"></i>Privacy Policy</a>
                </li>
                <li class="nav-item btn-outline-success rounded">
                    <a class="nav-link text-center" href="#">
                        <i class="bi bi-info-circle me-1"></i>About Us</a>
                </li>
            </ul>
            <form class="ms-auto">
                <ul class="navbar-nav">
                    <li class="nav-item px-1 my-1">
                        <input class="form-control d-flex" type="email" placeholder="your@email.com"
                               aria-label="email">
                    </li>
                    <li class="nav-item px-1 my-1">
                        <div class="btn-group d-flex" role="group" aria-label="Sign Up or Log In">
                            <button type="button" class="btn btn-outline-success text-nowrap text-light">Log In
                            </button>
                            <button type="button" class="btn btn-success text-nowrap">Sign Up</button>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
{% endmacro %}
