{% macro flash_toast_js() %}
    <script>
        window.onload = event => {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'));
            toastElList.map(function (toastEl) {
                new bootstrap.Toast(toastEl).show()
            });
        }
    </script>
{% endmacro %}


{% macro render_flashed_messages(messages=None, dismissible=False, dismiss_animate=False,
                         category_map={
                             'success':'success',
                             'info':'info',
                             'warning':'warning',
                             'danger':'danger'
                         }) -%}
    {% with messages = messages or get_flashed_messages(with_categories=True) -%}
        {% if messages -%} {# don't output anything if there are no messages #}
            <div class="container-fluid mt-2 px-0">
                {% for cat, msg in messages %}
                    <div class="alert ps-2 pe-3 mb-2 py-1 alert-{{ category_map[cat] }} {% if dismissible %}alert-dismissible {% if dismiss_animate %}fade show{% endif %}{% endif %}"
                         role="alert">
                        <small>{% if dismissible %}
                            <button type="button" class="btn-close px-2 py-2" data-bs-dismiss="alert"
                                    aria-label="Close"></button>{% endif %}
                            {{ msg }}</small>
                    </div>
                {%- endfor -%}
            </div>
        {% endif -%}
    {% endwith -%}
{% endmacro -%}


{% macro render_flash(messages=None, dismissible=False, dismiss_animate=False,
                         category_map={
                             'privacy': 'background-color: #ffffff',
                             'success':'background-color: mediumspringgreen;',
                             'info':'background-color: cyan;',
                             'warning':'background-color: yellow;',
                             'danger':'background-color: pink;'}) %}
{#                              'success':'background-color: #c9dfd6;',#}
{#                             'info':'background-color: #c7ebf3;',#}
{#                             'warning':'background-color: #f5eac6;',#}
{#                             'danger':'background-color: #eecfd3;'}) -%}#}
    {% with messages = messages or get_flashed_messages(with_categories=True) -%}
        <div class="toast-container fixed-top ms-auto" style="top:70px;right:10px">
            {% if messages -%} {# don't output anything if there are no messages #}
                {% for cat, msg in messages %}
                    <div class="toast" role="alert" data-bs-delay="10000"
                         {% if cat == "privacy" %}data-bs-autohide="false"{% endif %}
                         style="{{ category_map[cat] }}">
                     {% if cat == "privacy" %}
                         {{ msg }}
                     {% else %}
                        <div class="d-flex">
                            <div class="toast-body">
                                {% if cat == "privacy" %}
                                    {{ msg }}
                                {% else %}
{#                                     <small>{{ msg }}</small>#}
                                    {{ msg }}
                                {% endif %}
                            </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    </div>
                {%- endfor -%}
            {% endif -%}
        </div>
    {% endwith -%}
{% endmacro -%}
