{% macro render_track_record(user, engagements) %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Value</th>
            <th scope="col">Role</th>
            <th scope="col">Success?</th>
            <th scope="col">Dispute?</th>
        </tr>
        </thead>
        <tbody>
        {% for engagement in engagements %}
            {% set is_success = engagement.rating_by_asker == engagement.rating_by_answerer == 1 %}
            {% set is_dispute = engagement.rating_by_asker == -1 and engagement.rating_by_answerer == 1 %}
            <tr class="table-{%- if is_success -%}success{%- elif is_dispute -%}danger{%- else -%}secondary{%- endif -%}">
                <th scope="row">{{ moment(engagement.last_updated).format('HH:mm:ss') }}</th>
                <td>{{ '{0:.2f}'.format(engagement.node.value) }}</td>
                <td>{% if user.id == engagement.asker_id %}
                    Buyer
                {% elif user.id == engagement.answerer_id %}
                    Seller
                {% endif %}
                </td>
                <td>{{ is_success }}</td>
                <td>{{ is_dispute }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}


{% macro render_reward_info(node) %}
    <div class="alert alert-secondary alert-dismissible fade show small py-1" role="alert">
        You can earn up to {{ '${0:.2f}'.format(node.display_referrer_reward(current_user)) }} by sharing this post.
        <button type="button" class="btn-close mt-1 py-1 pe-1" data-bs-dismiss="alert"></button>
    </div>
{% endmacro %}