{% macro flash_toast_js() %}
    <script>
        window.onload = event => {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            toastElList.map(function (toastEl) {
                new bootstrap.Toast(toastEl).show({delay: 1000})
            })
        }
    </script>
{% endmacro %}


{% macro render_flashed_messages(messages=None, dismissible=False, dismiss_animate=False,
                         category_map={
                             'success':'success',
                             'info':'info',
                             'warning':'warning',
                             'danger':'danger'
                         }) -%}
    {% with messages = messages or get_flashed_messages(with_categories=True) -%}
        {% if messages -%} {# don't output anything if there are no messages #}
            <div class="container-fluid mt-2 px-0">
                {% for cat, msg in messages %}
                    <div class="alert ps-2 pe-3 mb-2 py-1 alert-{{ category_map[cat] }} {% if dismissible %}alert-dismissible {% if dismiss_animate %}fade show{% endif %}{% endif %}"
                         role="alert">
                        <small>{% if dismissible %}
                            <button type="button" class="btn-close px-2 py-2" data-bs-dismiss="alert"
                                    aria-label="Close"></button>{% endif %}
                            {{ msg }}</small>
                    </div>
                {%- endfor -%}
            </div>
        {% endif -%}
    {% endwith -%}
{% endmacro -%}


{% macro render_flash(messages=None, dismissible=False, dismiss_animate=False,
                         category_map={
                             'success':'background-color: rgb(158,200,182);',
                             'info':'background-color: rgb(153,225,241);',
                             'warning':'background-color: rgb(245,222,152);',
                             'danger':'background-color: rgb(232,168,176);'}) %}
{#                              'success':'background-color: #c9dfd6;',#}
{#                             'info':'background-color: #c7ebf3;',#}
{#                             'warning':'background-color: #f5eac6;',#}
{#                             'danger':'background-color: #eecfd3;'}) -%}#}
    {% with messages = messages or get_flashed_messages(with_categories=True) -%}
        {% if messages -%} {# don't output anything if there are no messages #}
            <div class="toast-container position-absolute p-3 end-0" style="z-index: 999;">
                {% for cat, msg in messages %}
                    <div class="toast" role="alert" data-bs-delay="5000" style="{{ category_map[cat] }}">
                        <div class="d-flex">
                            <div class="toast-body">
                                <small>{{ msg }}</small>
                            </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                {%- endfor -%}
            </div>
        {% endif -%}
    {% endwith -%}
{% endmacro -%}
