{% from "macros_form.html" import button_class %}

{% macro render_user_plain(user, capitalize=True) %}
    {% if user == current_user %}
        {{ "You" if capitalize else "you" }}
    {% else %}
        {{ ("A " if capitalize else "a ") + user.adjective + " user" }}
    {% endif %}
{% endmacro %}

{% macro render_user(user, capitalize=True) %}
    <a class="text-decoration-none {% if user == current_user %}text-muted{% endif %}"
       href="{{ url_for("main.user", user_id=user.id) }}">
        {{ render_user_plain(user, capitalize) }}
    </a>
{% endmacro %}

{# tags_in_filter should contain all the ACTIVE tags on the current page #}
{% macro render_tag(tag, tags_in_filter=[], freq=None, extra_class="", ignore_ids=['buying', 'selling']) %}
    {% if tag.id not in ignore_ids %}
        <a class="badge rounded-pill border text-decoration-none
        bg-{{- 'info' if tag.id == 'buying' else ('warning' if tag.id == 'selling' else 'light') }}
        text-dark {{ extra_class }}" href="
        {% if tag in tags_in_filter %}
            {# if the tag is already active, the link will remove the tag from the filter #}
            {{ url_for("main.browse", tags=tags_in_filter|select('ne', tag)|join('+', attribute='name')) }}
        {% else %}
            {# if the tag is not in the active filter, the link will add it #}
            {{ url_for("main.browse", tags=([tag] + tags_in_filter)|join('+', attribute='name')) }}
        {% endif %}
        ">#{{ tag.name }} {% if freq %}
            <span class="badge bg-secondary opacity-75 rounded-pill">{{ freq }}</span>{% endif %}
        </a>
    {% endif %}
{% endmacro %}

{# Note: buy/sell tags are ignored by render_tag, so if n tags should be rendered, tag_limit should be set to n+1 #}
{% macro render_post_card(post, user_node=None, truncate_body=False, buttons=False, tag_limit=None,
    style_map={'buy':'info', 'sell':'warning', 'announcement':'success'},
    label_map={'buy':'Buying', 'sell':'Selling', 'announcement':'Announcement'}) %}
    <div class="card mb-3 {{ style_map[post.type] }}">
        <div class="card-body py-2">
            <p class="small text-muted mb-1">{{ render_user(post.creator) }}
                posted {{ moment(post.timestamp).fromNow() }}</p>
            <div class="card-title">
                <div class="btn-group btn-group-sm buy-sell" role="group">
                    <a href="{{ url_for("main.browse", tags=post.type+'ing' if post.type in ['buy', 'sell'] else '') }}"
                       class="btn btn-{{- style_map[post.type] -}}">
                        {{ label_map[post.type] }}
                    </a>
                    {% if post.reward > 0 %}
                        <button type="button" class="btn btn-secondary" disabled>
                            {{ "$%.0f"|format(0.01 * post.reward) }}
                        </button>
                    {% endif %}
                </div>
                <a class="text-decoration-none text-dark" style="vertical-align: middle"
                   href="{{ url_for("main.view_post", post_id=post.id) }}">
                    <b>{{ post.title }}</b>
                </a>
                {% for post_tag in post.post_tags[:tag_limit] %}
                    {{ render_tag(post_tag.tag) }}
                {% endfor %}
            </div>
            {% if truncate_body %}
                <a class="text-decoration-none text-dark"
                   href="{{ url_for("main.view_post", post_id=post.id) }}">
            {% endif %}
            <div class="card-text small {{ 'truncated-sm' if truncate_body }}">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body[1:] }}
                {% endif %}
            </div>
            {% if truncate_body %}
                </a>
            {% endif %}
        </div>
        {% if buttons %}
            <div class="card-footer py-0">
                {% if not post.is_archived %}
                    <a href="{% if user_node %}{{ url_for('main.share_node', node_id=user_node.id) }}{% endif %}"
                       class="btn btn-sm btn-outline-dark border-0 mx-0 my-0 rounded-0">
                        <b>Share</b>
                    </a>
                    {% if current_user == post.creator %}
                        <a href="{{ url_for('main.edit_post', post_id=post.id) }}"
                           class="btn btn-sm btn-outline-dark border-0 mx-0 my-0 rounded-0">
                            <b>Edit</b>
                        </a>

                        <button type="button" class="btn btn-sm btn-outline-dark border-0 mx-0 my-0 rounded-0"
                                data-bs-toggle="modal" data-bs-target="#modalArchive">
                            <b>Archive</b></button>
                        <div class="modal fade" id="modalArchive" tabindex="-1">
                            <div class="modal-dialog modal-fullscreen-sm-down">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title">
                                            Hide the post and stop accepting new contributions from other users?
                                            Active engagements are not affected.
                                        </h6>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <a id="btnArchive"
                                           class="btn btn-{{- button_class(current_user, user_node.post) -}}"
                                           href="{{ url_for('main.toggle_archive_post', post_id=post.id) }}">
                                            Confirm
                                        </a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                    {% if current_user != post.creator %}
                        <button type="button" class="btn btn-sm btn-outline-dark border-0 mx-0 my-0 rounded-0"
                                data-bs-toggle="modal" data-bs-target="#modalReport">
                            <b>Report</b></button>
                        <div class="modal fade" id="modalReport" tabindex="-1">
                            <div class="modal-dialog modal-fullscreen-sm-down">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title">
                                            What is the reason for reporting this post?
                                        </h6>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <form action="{{ url_for('main.report_post', post_id=post.id) }}" method="post">
                                            <div class="input-group input-group-sm mb-3">
                                                <textarea name="reason" class="form-control" rows="4"
                                                          placeholder="Spam / Harassment / Leaking personal information / Copyright infringement / Other illegal activities"
                                                          required></textarea>
                                            </div>
                                            <input type="submit" id="btnReport"
                                                   class="btn btn-{{- button_class(current_user, user_node.post) -}}">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Cancel
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% else %}
                    {% if current_user == post.creator %}
                        <a id="btnUnarchive" class="btn btn-sm btn-outline-dark border-0 mx-0 my-0 rounded-0"
                           href="{{ url_for('main.toggle_archive_post', post_id=post.id) }}">
                            <b>Unarchive</b>
                        </a>
                    {% else %}
                        <div class="text-muted small my-1">
                            <b>This post is no longer accepting new contributions.</b>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endmacro %}


{% macro render_message(message, viewer, last_timestamp=None, gap_in_seconds=300) %}
    {% if last_timestamp is none or (last_timestamp - message.timestamp).total_seconds()|abs > gap_in_seconds %}
        <div class="card my-3 small mx-auto text-center border-0" style="width:80%">
            <div class="card-body py-0 text-muted small">
                {{ moment(message.timestamp).calendar() }}
            </div>
        </div>
    {% endif %}

    <div {# id="message{{- message.id }}" #} class="card my-3 small
        {% if message.type >= Message.TYPE_REQUEST %}
            mx-auto text-center
        {% elif message.creator == message.node.creator %}
            ms-auto
        {% elif message.creator == message.node.post.creator %}
            me-auto
        {% endif %}
        {% if message.type >= Message.TYPE_REQUEST %}
              bg-light border-0
        {% elif message.creator == message.node.post.creator %}
            {% if message.node.post.type == 'buy' %}info10{% else %}warning10{% endif %}
        {% else %}
            {% if message.node.post.type == 'sell' %}info10{% else %}warning10{% endif %}
        {% endif %}
        "
                                             style="
                                                     max-width:
                                                     {% if message.type >= Message.TYPE_REQUEST %}
                                                         80%
                                                     {% else %}
                                                         90%
                                                     {% endif %};
                                                     {% if message.type < Message.TYPE_REQUEST %}
                                                         border-radius: 10px;
                                                         {% if message.creator == message.node.creator %}
                                                             border-bottom-right-radius: 0;
                                                         {% elif message.creator == message.node.post.creator %}
                                                             border-bottom-left-radius: 0;
                                                         {% endif %}
                                                     {% endif %}
                                                     ">
        <div class="card-body py-1 {% if message.type >= Message.TYPE_REQUEST %}text-muted{% else %}text-dark{% endif %}">
            {{ message.text }}
            {% if message.type in (Message.TYPE_REQUEST, Message.TYPE_CANCEL, Message.TYPE_ACCEPT, Message.TYPE_RATE) %}
                by {{ render_user_plain(message.creator, capitalize=False) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro render_engagement(engagement,
    style_map={'buy':'info', 'sell':'warning', 'announcement':'success'},
    label_map={'buy':'Buying', 'sell':'Selling', 'announcement':'Announcement'}) %}
    {% set post = engagement.node.post %}
    <div class="card mb-3 {{ style_map[post.type] }}">
        <div class="card-body py-2">
            <p class="small text-muted mb-1">{{ render_user(post.creator) }}
                posted {{ moment(post.timestamp).fromNow() }}</p>
            <div class="card-title">
                <div class="btn-group btn-group-sm buy-sell" role="group">
                    <a href="{{ url_for("main.browse", tags=post.type+'ing' if post.type in ['buy', 'sell'] else '') }}"
                       class="btn btn-{{- style_map[post.type] -}}">
                        {{ label_map[post.type] }}
                    </a>
                    {% if post.reward > 0 %}
                        <button type="button" class="btn btn-secondary" disabled>
                            {{ "$%.0f"|format(0.01 * post.reward) }}
                        </button>
                    {% endif %}
                </div>
                <a class="text-decoration-none text-dark" style="vertical-align: middle"
                   href="{{ url_for("main.view_post", post_id=post.id) }}">
                    <b>{{ post.title }}</b>
                </a>
            </div>
            <a class="text-decoration-none text-dark"
               href="{{ url_for("main.view_post", post_id=post.id) }}">
                <div class="card-text">
                    {% if engagement.state == Engagement.STATE_REQUESTED %}
                        {% if current_user.id == engagement.sender_id %}
                            <h6 class="mb-1"><span
                                    class="badge rounded-pill bg-secondary">Request For Engagement Sent</span></h6>
                        {% else %}
                            <h6 class="mb-1"><span
                                    class="badge rounded-pill bg-primary">Request For Engagement Received</span></h6>
                        {% endif %}
                    {% elif engagement.state == Engagement.STATE_ENGAGED %}
                        <h6 class="mb-1"><span class="badge rounded-pill bg-success">Engagement In Progress</span></h6>
                    {% endif %}
                </div>
            </a>
        </div>
        {#        <div class="card-footer py-1"#}
        {#        {% if engagement.state == Engagement.STATE_REQUESTED %}#}
        {#            {% if current_user.id == engagement.sender_id %}#}
        {#                style="background-color: lightgrey;"#}
        {#            {% else %}#}
        {#                style="background-color: lightgrey;"#}
        {#            {% endif %}#}
        {#            {% elif engagement.state == Engagement.STATE_ENGAGED %}#}
        {#                style="background-color: lightgrey;"#}
        {#            {% endif %}#}
        {#        >#}
        {#            {% if engagement.state == Engagement.STATE_REQUESTED %}#}
        {#                {% if current_user.id == engagement.sender_id %}#}
        {#                    <small class="text-muted">Request For Engagement Sent</small>#}
        {#                {% else %}#}
        {#                    <small class="text-muted">Request For Engagement Received</small>#}
        {#                {% endif %}#}
        {#            {% elif engagement.state == Engagement.STATE_ENGAGED %}#}
        {#                <small class="text-muted">Engagement In Progress</small>#}
        {#            {% endif %}#}
        {#        </div>#}
    </div>
{% endmacro %}