{% extends "index.html" %}
{% from "macros/render_models.html" import render_post_card with context %}
{% from "macros/utils.html" import render_reward_info, text_area_style, button_class with context %}
{% from "macros/form.html" import render_confirm_form_modal %}

{% block meta %}
    {{ super() }}
    <meta property="og:title" content="{{ node.post.title }}"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url_for('main.view_node', node_id=node.id, _external=True) }}"/>
    {% set answerer_reward_cent, sum_referrer_reward_cent, value_cent, max_referrer_reward_cent = node.rewards_for_next_node_cent() %}
    {% if node.post.type == Post.TYPE_BUY %}
        <meta property="og:description"
              content="Help me on this topic and earn {{ '${0:.2f}'.format(0.01 * answerer_reward_cent) }}. Think someone can help? Spread the word and earn up to {{ '${0:.2f}'.format(0.01 * max_referrer_reward_cent) }} for every answer I accept through you (directly or indirectly). Follow this link for details."/>
    {% else %}
        <meta property="og:description"
              content="Ask me anything on this topic for {{ '${0:.2f}'.format(0.01 * value_cent) }}. Think someone might be interested? Spread the word and earn up to {{ '${0:.2f}'.format(0.01 * max_referrer_reward_cent) }} for every question I answer through you (directly or indirectly). Follow this link for details."/>
    {% endif %}
    <meta property="og:site_name" content="LumiAsk - Boosted Q&A"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@LumiQnA"/>
{#    <meta property="twitter:image" content="{{ url_for('static', filename='og-image-1200x630.png', _external=True) }}"/>#}
    <meta property="og:image" content="{{ url_for('static', filename='og-image-new-1200x627.png', _external=True) }}"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="627"/>
{% endblock %}

{% block left_col %}
    {{ render_reward_info(node) }}
{% endblock %}

{% block mid_col %}
    {{ render_post_card(node, truncate_body=False, buttons=True) }}
    <div class="mb-3">
        <form id="form" method="post">
            {{ message_form.hidden_tag() }}
            <div class="mb-3">
                {{ message_form.text(
                       class_="form-control",
                       placeholder="Message",
                       style=text_area_style(current_user, node.post),
                       disabled=not current_user.is_authenticated) }}
            </div>
            <div class="d-flex justify-content-between">
                {{ message_form.submit(
                       class_="btn btn-" + button_class(current_user, node.post),
                       disabled=not current_user.is_authenticated) }}
                <button type="button" class="btn btn-{{- button_class(current_user, node.post) -}}"
                        data-bs-toggle="modal" data-bs-target="#modalRequest"
                        {% if not current_user.is_authenticated %}disabled{% endif %}>
                    Request for Engagement
                </button>
            </div>
        </form>
    </div>
    {{ render_confirm_form_modal(
        modal_id='modalRequest',
        modal_title='Request for engagement?',
        modal_body='You will send a request for the user user to accept.',
        form=confirm_request_form,
        action_url=url_for('main.request_engagement', node_id=node.id)) }}
{% endblock %}


{% block right_col %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title text-muted">Think you can help or know someone who can?</h5>
            {% if not current_user.is_authenticated %}
                <p class="small"><a href="#"> Log in</a> to contribute and earn rewards.</p>
            {% endif %}
            <ul class="small">
                <li><b>Send</b> the poster a message to get something clarified, or to let him know how you / they may
                    help
                </li>
                <li><b>Request for Engagement</b> when you are ready to engage, and earn / pay a reward if the
                    engagement is rated as successful(+) by both of you
                </li>
                <li>
                    <a href="{{ url_for('main.share_node', node_id=node.id) }}" class="text-decoration-none">
                        <b>Share</b>
                    </a>
                    it with a friend or on social media / online communities with your circle of friends.
                    The answerer is encouraged to reward you for any successful engagement referred through you, both
                    directly or indirectly, and sometimes a reward is even guaranteed. <strong>Make sure to use the
                    Share button to generate your unique referer link</strong></li>
                <li>Feel free to spread the word but <b>please follow the rules of each community and don't spam</b>.
                    Generally, a good way is to ask the same question in the community and offer to pay a reward using
                    the link to the post here
                </li>
            </ul>
        </div>
    </div>
    {{ super() }}
{% endblock %}
