{% extends "index.html" %}

{% block mid_col %}
    <h3 class="mb-3">Choose a mode:</h3>
    <a href="{{ url_for('main.new_post', is_private=0) }}" class="text-decoration-none">
        <div class="card text-dark bg-white mb-3">
            <h5 class="card-header">
                Public
            </h5>
            <div class="card-body pb-0">
                <div class="card-text">
                    <ul>
                        <li class="mb-3">Your post is listed publicly, just like how it works on a traditional online
                            forum
                        </li>
                        <li>Up to 20% of the price you choose for your post are rewarded to referrers, shared at the
                            discretion of your counterparty in a successful engagement
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </a>
    <a href="{{ url_for('main.new_post', is_private=1) }}" class="text-decoration-none">
        <div class="card text-white bg-dark mb-3">
            <h5 class="card-header">
                Private
            </h5>
            <div class="card-body pb-0" style="background-color: #343a40">
                <div class="card-text">
                    <ul>
                        <li class="mb-3">Your post is not listed publicly - it lives on and travels through your (and
                            your friends, and your friends' friends'...) social networks
                        </li>
                        <li class="mb-3">Send it to your friends or share it on social media / online communities to
                            kick off the chain reaction
                        </li>
                        <li>
                            Referrers earn <b>2x</b> the public-mode rewards, and the rewards are <b>guaranteed</b>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </a>
{% endblock %}