{% extends "index.html" %}
{% from "macros/form.html" import render_editor_form %}
{% from "macros/nav_bar.html" import render_navbar_side %}

{% block link %}
    {{ super() }}
    {% if request.MOBILE %}
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    {% else %}
        <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if request.MOBILE %}
        <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    {% else %}
        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    {% endif %}
{% endblock %}

{% block mid_col %}
    <div class="mb-3">
        <h3 class="mb-3">{{ title }}</h3>
        {% if use_markdown %}
            {% if request.MOBILE %}
                {{ render_editor_form(form, type='mde') }}
                <script>
                    const easyMDE = new EasyMDE({
                        element: document.getElementById('post-body'),
                        toolbar: ["bold", "italic", "quote", "strikethrough", "link", "image", {# "upload-image", #}
                            "unordered-list", "ordered-list", "|",
                            "side-by-side", "preview", "guide"],
                        minHeight: '10rem',
                        maxHeight: '10rem',
                        promptURLs: true,
                        uploadImage: false,
                        spellChecker: false,
                        sideBySideFullscreen: false,
                        status: false,
                        placeholder: 'Details (optional)'
                    });
                </script>
            {% else %}
                {{ render_editor_form(form, type='tui') }}
                <script>
                    const editor = new toastui.Editor({
                        {% if form.body.data %}initialValue: '{{ form.body.data.replace('\n', ' \\n ') }}',{% endif %}
                        el: document.querySelector('#tui_editor'),
                        height: '20rem',
                        initialEditType: 'wysiwyg',
                        previewStyle: 'vertical',
                        previewHighlight: true,
                        usageStatistics: false,
                        hideModeSwitch: false,
                        placeholder: 'Details (optional)',
                        toolbarItems: [['bold', 'italic', 'quote', 'strike', 'link', 'image', 'ul', 'ol', 'table']]
                    });

                    function DoSubmit() {
                        document.getElementById('body').value = editor.getMarkdown();
                        return true;
                    }
                </script>
            {% endif %}
        {% else %}
            {{ render_editor_form(form) }}
        {% endif %}
    </div>
    <div class="modal fade" id="modalAskerTips" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h6 class="modal-title">Tips for Questioners</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body small">
                    <ul>
                        <li>Ask questions that you will know if an answer is satisfactory when given, e.g. because the
                            answer can be verified by yourself (like fixing a problem), or because the answerer
                            convinced you of their credential through proof, or because you are prepared to enter into
                            multiple engagements to cross-check the answers
                        </li>
                        <li class="mt-3">Be specific about your goal, try to give an idea how many follow-up
                            questions you might ask, and give criteria on whom you want to hear from if applicable
                        </li>
                        <li class="mt-3">Payment is not required when the post is created. You will be asked to top up
                            before you can accept an engagement request if your account balance is not enough for the
                            reward
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalAnswererTips" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h6 class="modal-title">Tips for Answerers</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body small">
                    <ul>
                        <li>Consider giving details of your credential, e.g. by including links to your profile on other
                            communities e.g. Reddit, Twitter, LinkedIn, YouTube or more specialised online forums. Make
                            sure to reverse link your {{ config['APP_NAME'] }} profile on your profile / signature on
                            the other platforms so others can verify your claim
                        </li>
                        <li class="mt-3">Try to give an idea how many questions you expect to answer in one engagement
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block right_col %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title text-muted">Guide to Posting</h5>
            <ul class="small">
                <li>You can choose between a
                    <a href={{ url_for('main.change_editor', use_markdown=0) }}>plain text editor</a>
                    or a
                    <a href={{ url_for('main.change_editor', use_markdown=1) }}>Markdown editor</a>.
                </li>
                <li class="mt-2"><strong>Reward</strong> is how much you would offer to someone for answering your
                    question, or how much you want to be awarded by answering a question, depending on the type of your
                    post.
                </li>
                <li class="mt-2">Consider adding "#" to keywords to make them <b>#hashtags</b> so your post is easier to
                    find.
                </li>
                <li class="mt-2">Send it to your friends or share it on social media and other online communities, but
                    <strong>please follow their rules and don't spam</strong>.
                </li>
                <li class="mt-2">
                    <button type="button" class="btn btn-sm btn-link text-decoration-none px-0" data-bs-toggle="modal"
                            data-bs-target="#modalAskerTips">
                        Tips for Questioners
                    </button>
                </li>
                <li class="mt-1">
                    <button type="button" class="btn btn-sm btn-link text-decoration-none px-0" data-bs-toggle="modal"
                            data-bs-target="#modalAnswererTips">
                        Tips for Answerers
                    </button>
                </li>
                <li class="mt-1">
                    <a class="btn btn-sm btn-link text-decoration-none px-0" href="{{ url_for('main.faq') }}">FAQ</a>
                </li>
            </ul>
        </div>
    </div>

    {{ render_navbar_side() }}
{% endblock %}
