{% extends "base.html" %}

{% block main %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col col-md-9 col-lg-7 col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ quest.title }}</h5>
                        <p class="card-text">
                            {% if quest.body_html %}
                                {{ quest.body_html | safe }}
                            {% else %}
                                {{ quest.body }}
                            {% endif %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
