{% extends "index.html" %}

{% block mid_col %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Here is your unique referral link for this post:</h5>
            <div class="card-text">
                <p class="my-3">
                    {% set node_url = url_for('main.view_node', node_id=node.id, _external=True) %}
                    <a href="{{ node_url }}">
                        {{ node_url }}
                    </a>
                </p>
                <p class="text-muted small">
                    You can now share this link with your friends. Every time a reward is paid out, a portion of it
                    will be shared with all referrers linking the asker to the answerer, distributed by following the
                    <a href="#">reward distribution rules</a>.
                </p>
                {{ render_post_card(node, buttons=False) }}
            </div>
        </div>
    </div>
{% endblock %}