{% extends "index.html" %}
{% from "macros_utils.html" import render_track_record with context %}

{% block mid_col %}
    <div class="accordion accordion-flush mb-3">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button py-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionBasicInfo">
                    <b>Basic Information</b>
                </button>
            </h2>
            <div id="accordionBasicInfo" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <p>ID: {{ user.id }}</p>
                    <p>Balance: {{ user.account_balance }}</p>
                    <p>Reward Limit: {{ user.reward_limit }}</p>
                    <p>Trustworthiness Score: {{ user.reputation }}</p>
                    <p>Trustworthiness Value: {{ user.sum_x }} / {{ user.sum_abs_x }}</p>
                    <p>Trustworthiness Count: {{ user.sum_i }} / {{ user.sum_abs_i }}</p>
                    <p>User since: {{ moment(user.timestamp).format('MMM YYYY') }}</p>
                    <p>Average response time: TODO</p>
                    <p>Last seen: TODO</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button py-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionTrackRecord">
                    <b>Track Record</b>
                </button>
            </h2>
            <div id="accordionTrackRecord" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    {% if completed_engagements %}
                        {{ render_track_record(user, completed_engagements) }}
                    {% else %}
                        The user has no completed engagements.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}