{% extends "index.html" %}

{% block mid_col %}

    <div class="accordion accordion-flush small mb-3">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button py-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionBasicInfo">
                    <b>Basic Information</b>
                </button>
            </h2>
            <div id="accordionBasicInfo" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <p class="card-text">ID: {{ user.id }}</p>
                    <p class="card-text">Member since: {{ moment(user.timestamp).format('MMM YYYY') }}</p>
                    <p class="card-text">Average response time: TODO</p>
                    <p class="card-text">Last seen: TODO</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button py-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionTrackRecord">
                    <b>Track Record</b>
                </button>
            </h2>
            <div id="accordionTrackRecord" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Reward</th>
                                <th scope="col">Role</th>
                                <th scope="col">Success?</th>
                                <th scope="col">Dispute?</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for engagement in engagements %}
                                {% set is_success = engagement.rating_by_asker == engagement.rating_by_answerer == 1 %}
                                {% set is_dispute = engagement.rating_by_asker == -1 and engagement.rating_by_answerer == 1 %}
                                <tr class="table-{%- if is_success -%}success{%- elif is_dispute -%}danger{%- else -%}secondary{%- endif -%}">
                                    <th scope="row">{{ moment(engagement.timestamp).format('DD MMM YYYY') }}</th>
                                    <td>{{ engagement.node.post.reward }}</td>
                                    <td>{% if user.id == engagement.asker_id %}
                                            Buyer
                                        {% elif user.id == engagement.answerer_id %}
                                            Seller
                                        {% endif %}
                                    </td>
                                    <td>{{ is_success }}</td>
                                    <td>{{ is_dispute }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button py-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionStatsBuyer">
                    <b>Statistics as Buyer</b>
                </button>
            </h2>
            <div id="accordionStatsBuyer" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <p class="card-text">Completed Engagements: TODO</p>
                    <p class="card-text">Successful engagements: TODO</p>
                    <p class="card-text">Disputed engagements: TODO</p>
                    <p class="card-text">Average engagement duration: TODO</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button py-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionStatsSeller">
                    <b>Statistics as Seller</b>
                </button>
            </h2>
            <div id="accordionStatsSeller" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <p class="card-text">Completed Engagements: TODO</p>
                    <p class="card-text">Successful engagements: TODO</p>
                    <p class="card-text">Disputed engagements: TODO</p>
                    <p class="card-text">Average engagement duration: TODO</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}