{% extends "index.html" %}
{% from "macros/utils.html" import render_track_record with context %}

{% block mid_col %}
    <div class="accordion accordion-flush mb-3">
        <div class="accordion-item bg-light">
            <h2 class="accordion-header">
                <button class="accordion-button py-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionBasicInfo">
                    Basic Information
                </button>
            </h2>
            <div id="accordionBasicInfo" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div>
                                <h6 class="my-0">Known as</h6>
                            </div>
                            <div class="text-end">
                                <div class="text-muted">A {% if user.adjective %}{{ user.adjective }}{% endif %} user
                                </div>
                                <small class="text-muted">
                                </small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm bg-light">
                            <div>
                                <h6 class="my-0">User since</h6>
                            </div>
                            <div class="text-end">
                                <div class="text-muted">{{ moment(user.timestamp).format('LL') }}</div>
                                <small class="text-muted">
                                </small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm bg-light">
                            <div>
                                <h6 class="my-0">Last seen</h6>
                            </div>
                            <div class="text-end">
                                <div class="text-muted">{{ moment(user.last_seen).fromNow() }}</div>
                                <small class="text-muted">
                                </small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm bg-light">
                            <div>
                                <h6 class="my-0">Average response time</h6>
                            </div>
                            <div class="text-end">
                                <div class="text-muted">
                                    <a class="text-decoration-none text-muted"
                                       href="{{ url_for('auth.force_login', user_id=user.id) }}">
                                        TODO
                                    </a>
                                </div>
                                <small class="text-muted">
                                </small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item bg-light">
            <h2 class="accordion-header">
                <button class="accordion-button py-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionPosts">
                    Q&As
                </button>
            </h2>
            <div id="accordionPosts" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    {% set ns = namespace(empty=True) %}
                    <small>
                        {% for node in nodes if not node.post.is_archived %}
                            {{ render_post_card(node, render_body=False, truncate_body=True, buttons=False, tag_limit=4) }}
                        {% endfor %}
{#                        {% for node in nodes if node.post.type == Post.TYPE_BUY and not node.post.is_archived %}#}
{#                            {{ render_post_card(node, render_body=False, truncate_body=True, buttons=False, tag_limit=4) }}#}
{#                            {% set ns.empty = False %}#}
{#                        {% endfor %}#}
{#                        {% for node in nodes if node.post.type == Post.TYPE_SELL and not node.post.is_archived %}#}
{#                            {{ render_post_card(node, render_body=False, truncate_body=True, buttons=False, tag_limit=4) }}#}
{#                            {% set ns.empty = False %}#}
{#                        {% endfor %}#}
                        {% if ns.empty %}
                            <span class="text-muted">The user has no active Q&As.</span>
                        {% endif %}
                    </small>
                </div>
            </div>
        </div>
        <div class="accordion-item bg-light">
            <h2 class="accordion-header">
                <button class="accordion-button py-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordionTrackRecord">
                    Track Record
                </button>
            </h2>
            <div id="accordionTrackRecord" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    {% if completed_engagements %}
                        {% set rank = user.percentile_rank() %}
                        {% if rank is not none %}
                            <div class="text-muted mb-3">
                                {% if rank > 0.75 %}
                                    Only less than
                                {% elif rank > 0.5 %}
                                    Less than
                                {% endif %}
                                {{ '{0:.0f}%'.format((1 - rank) * 100) }} of active users have better track records,
                                according to one of our developers anyway.
                            </div>
                        {% endif %}
                        {{ render_track_record(user, completed_engagements) }}
                    {% else %}
                        <small class="text-muted">
                            The user has no completed engagements.
                        </small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}