{% extends "index.html" %}
{% from "macros_models.html" import render_message with context %}
{% from "macros_form.html" import text_area_style, button_class with context %}

{% macro engagement_style(engagement) %}
    {% if engagement.state == Engagement.STATE_COMPLETED %}
        {% if engagement.rating_by_asker == 1 and engagement.rating_by_answerer == 1 %}
            {#border-success#}
            {#style="background-color: rgba(25, 135, 84, 0.05)"#}
        {% elif engagement.rating_by_asker == -1 and engagement.rating_by_answerer == 1 %}
            {#border-danger#}
            {#style="background-color: rgba(220, 53, 69, 0.05)"#}
        {% else %}
            {#border-secondary#}
            {#style="background-color: rgba(108, 117, 125, 0.05)"#}
        {% endif %}
    {% else %}
        {#border-primary#}
        {#style="background-color: rgba(13, 110, 253, 0.05)"#}
    {% endif %}
{% endmacro %}

{% macro engagement_class(engagement) %}
    {% if engagement.state == Engagement.STATE_COMPLETED %}
        {% if engagement.rating_by_asker == 1 and engagement.rating_by_answerer == 1 %}
            border-start border-2 border-success
        {% elif engagement.rating_by_asker == -1 and engagement.rating_by_answerer == 1 %}
            border-start border-2 border-danger
        {% else %}
            border-start border-2 border-secondary
        {% endif %}
    {% else %}
        border-start border-2 border-light
    {% endif %}
{% endmacro %}

{% block mid_col %}
    {{ render_post_card(node.post, user_node=node, truncate_body=False) }}

    {% set current = namespace(engagement_id=-1, timestamp=none, section_id=none) %}

    {% for message in messages_asc %}
        {% if message.engagement_id != current.engagement_id %}
            {# message is the initial one or it does not belong to the previous div, start a new div block #}
            {% if current.engagement_id != -1 %}
                {# not the initial message, so there must be a previous div tag to close #}
                </div></div>
            {% endif %}
            {# now start a new div tag depending on the message #}
            {% if message.engagement is none %}
                {# message is not associated with any engagement, put in a plain div block #}
                {% set current.section_id = "section" + message.id|string %}
                <div class="px-3 mb-3">
                <div id="{{ current.section_id }}">
            {% elif message.engagement == engagement %}
                {# message belongs to the currently active engagement #}
                <div class="card border-success mb-3">
                <div class="card-header success text-success border-0 small">
                    <b>Active Engagement</b>
                </div>
                {% set current.section_id = "section" + message.id|string %}
                <div class="card-body pt-0 pb-3">
                <div id="{{ current.section_id }}">
            {% else %}
                {# message belongs to an engagement that is not currently active #}
                {% set current.section_id = "section" + message.id|string %}
                <div class="px-3 mb-3 {{ engagement_class(message.engagement) }}"
                        {{ engagement_style(message.engagement) }}>
                <div id="{{ current.section_id }}">
            {% endif %}
            {% set current.engagement_id = message.engagement_id %}
        {% endif %}
        {{ render_message(message, current_user, current.timestamp) }}
        {% set current.timestamp = message.timestamp %}
    {% endfor %}

    {% if current.engagement_id == -1 %}
        {# no message, so need to create a div block #}
        {% set current.section_id = "sectionNew" %}
        <div class="rounded px-3 mb-3">
        <div id="{{ current.section_id }}">
    {% endif %}
    {# before rendering the form, close the div tag for messages to display #}
    </div>
    {% if node.post.is_open or (engagement is not none and engagement.state == Engagement.STATE_ENGAGED) %}
    <form id="form">
        <div class="mb-3">
            {{ form.text(class_="form-control", placeholder="Message", style=text_area_style(current_user, node.post)) }}
        </div>
        <div class="d-flex justify-content-between">
            {{ form.submit(class_="btn btn-" + button_class(current_user, node.post)) }}

            {% if current_user == node.creator %}
                {% if engagement is none and engagement_request is none %}
                    <button type="button" class="btn btn-{{- button_class(current_user, node.post) -}}"
                       data-bs-toggle="modal" data-bs-target="#modalRequest">
                        Request for Engagement</button>

                    <div class="modal fade" id="modalRequest" tabindex="-1">
                      <div class="modal-dialog modal-fullscreen-sm-down">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h6 class="modal-title">Are you sure you want to request for engagement?</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body text-center">
                            <a id="btnRequest" class="btn btn-{{- button_class(current_user, node.post) -}}"
                               href="{{ url_for('main.request_engagement', node_id=node.id) }}">
                                Confirm
                            </a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                {% elif engagement_request is not none %}
                    <a id="btnCancel" class="btn btn-{{- button_class(current_user, node.post) -}}"
                       href="{{ url_for('main.cancel_engagement', engagement_id=engagement_request.id) }}">
                        Cancel Request
                    </a>
                {% endif %}
            {% endif %}
            {% if engagement_request is not none %}
                {% if current_user == node.post.creator %}
                    <a id="btnAccept" class="btn btn-{{- button_class(current_user, node.post) -}}"
                       href="{{ url_for('main.accept_engagement', engagement_id=engagement_request.id) }}">
                        Accept Engagement</a>
                {% endif %}
            {% endif %}
            {% if engagement is not none %}
                {% if (current_user == engagement.asker and engagement.rating_by_asker == 0) or
                      (current_user == engagement.answerer and engagement.rating_by_answerer == 0) %}

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-success border-{{- button_class(current_user, node.post) -}}"
                                data-bs-toggle="modal" data-bs-target="#modalRatePlus">
                            &plus;
                        </button>
                        <button type="button" class="btn btn-{{- button_class(current_user, node.post) }}">
                            Rate Engagement</button>
                        <button type="button" class="btn btn-outline-danger border-{{- button_class(current_user, node.post) -}}"
                                data-bs-toggle="modal" data-bs-target="#modalRateMinus">
                            &minus;
                        </button>
                    </div>
                    <div class="modal fade" id="modalRatePlus" tabindex="-1">
                      <div class="modal-dialog modal-fullscreen-sm-dow">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h6 class="modal-title">You rated this engagement as
                                <b class="text-success">successful (&plus;)</b></h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body text-center">
                            <a id="btnRatePlus" href="{{ url_for('main.rate_engagement', engagement_id=engagement.id, is_success=1) }}"
                               class="btn btn-{{- button_class(current_user, node.post) -}}">
                                Confirm</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="modalRateMinus" tabindex="-1">
                      <div class="modal-dialog modal-fullscreen-sm-down">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h6 class="modal-title">You rated this engagement as
                                <b class="text-danger">unsuccessful (&minus;)</b></h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body text-center">
                            <a id="btnRateMinus" href="{{ url_for('main.rate_engagement', engagement_id=engagement.id, is_success=0) }}"
                               class="btn btn-{{- button_class(current_user, node.post) -}}">
                                Confirm</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </form>
    {% endif %}
    {% if engagement.state == Engagement.STATE_ENGAGED %}
        {# Active engagement uses card and card-body which means 2 divs, close the div tag for card-body #}
        </div>
    {% endif %}
    </div>
    <div class="toast-container fixed-top ms-auto p-3">
        <div class="toast"
             id="nodeToast" role="alert" data-bs-autohide="false" style="background-color: mediumspringgreen" hidden>
            <div class="d-flex">
                <div class="toast-body">
                    <small id="nodeToastText">{{ msg }}</small>
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    {{ socketio_script(current.section_id) }}
{% endblock %}

{% block right_col %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title text-muted">Guide on user interactions</h5>
            <ul class="small">
                <li>Find out as much as necessary about each other before <b>Request for Engagement</b> or <b>Accept
                    Engagement</b>. Make sure you are comfortable with the other party's track record of past
                    engagements. Be wary of the answerer's proof of credentials, you are welcome to ask for more proof,
                    as long as it is relevant</li>
                <li><b>Request for Engagement</b> when you are ready to enter into an engagement and claim / pay the
                    reward</li>
                <li>If the asker's account balance is not enough for the reward, a top-up will be required before the
                    engagement can be entered into. The money will be reserved in the asker's account until the
                    engagement is rated by both parties</li>
                <li><b>Rate Engagement</b> once you are happy with the answer provided to or by you. The other party
                    needs to rate the engagement <b>within 72 hours</b> of the first rating. If no rating is received
                    within the timeframe, it will be recorded as unsuccessful(&minus;)</li>
                <li>If both parties rate the engagement as successful(+), the reward will be distributed according to
                    the <a href="#">reward distribution rules</a></li>
                <li>Report suspicious behaviors including requests for identifiable or unnecessary personal information
                    and suggestions to take interactions off-site as we cannot protect you outside our domain</li>
            </ul>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title text-muted">Trustworthiness on the platform</h5>
            <ul class="small">
                <li>The <b>track record</b> of each user is available for all users to see on the user profile page</li>
                <li>We use the track record to model each user's <b>trustworthiness on the platform</b>,
                    which limits the reward value of posts a user is allowed to participate in</li>
                <li>Even though no reward is paid out as long as the asker rates the engagement as &minus;,
                    both parties' track records will be on the line once an engagement is entered into, as it contain
                    information about all engagements</li>
                <li>A <b>dispute</b> arises if the asker rates &minus; and the answerer rates +, the party with a weaker
                    trustworthiness on the platform will have its trustworthiness negatively impacted</li>
                <li>There will be no dispute as long as the answerer rates the engagement as &minus;, in which
                    case the trustworthiness of neither party will be directly impacted</li>
            </ul>
        </div>
    </div>
    {{ super() }}
{% endblock %}


{% macro socketio_script(section_id) %}
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', () => {
            socket.emit(
                'join',
                {
                    node_id: "{{ node.id }}"
                });
        });

        document.getElementById('form').onsubmit = event => {
            event.preventDefault();
            const textField = document.getElementById('text');
            socket.emit(
                'message_sent',
                {
                    node_id: "{{ node.id }}",
                    engagement_id: {{ engagement.id if engagement is not none else 'null' }},
                    text: textField.value,
                });
            textField.value = '';
        };
        socket.on('processed_message_sent', message => {
            let template = document.createElement('template');
            template.innerHTML = message.html
            let nChildElement = template.content.childElementCount
            document.getElementById("{{ section_id }}").appendChild(template.content.firstElementChild)
            if (nChildElement > 1) {
                document.getElementById("{{ section_id }}").appendChild(template.content.lastElementChild)
            }
            flask_moment_render_all();
            {#document.getElementById('message'+message.id).scrollIntoView(false);#}
            {#document.getElementById('message'+message.id).scrollIntoViewIfNeeded(true);#}
            {#let message_form = document.getElementById('form')#}
            {#message_form.scrollTop = message_form.scrollHeight;#}
        });

        let rate_event_handler = event => {
            socket.emit(
                'engagement_rated',
                {
                    node_id: "{{ node.id }}",
                });
        };
        let btnRatePlus = document.getElementById('btnRatePlus')
        if (btnRatePlus) {
            btnRatePlus.onclick = rate_event_handler;
        };
        let btnRateMinus = document.getElementById('btnRateMinus')
        if (btnRateMinus) {
            btnRateMinus.onclick = rate_event_handler;
        };
        socket.on('notify_node', message => {
            let toast = document.getElementById('nodeToast');
            let toastText = document.getElementById('nodeToastText');
            toastText.innerHTML = message.html;
            bootstrap.Toast.getOrCreateInstance(toast).show()
            toast.hidden = false;
            {#location.reload();#}
        });

        {#let btnRequest = document.getElementById('btnRequest')#}
        {#if (btnRequest) {#}
        {#    btnRequest.onclick = event => {#}
        {#        socket.emit(#}
        {#            'engagement_requested',#}
        {#            {#}
        {#                node_id: "{{ node.id }}"#}
        {#            });#}
        {#    };#}
        {#};#}
        {#socket.on('processed_engagement_requested', message => {#}
        {#    let toast = document.getElementById('nodeToast');#}
        {#    let toastText = document.getElementById('nodeToastText');#}
        {#    toastText.innerHTML = message.html;#}
        {#    toast.hidden = false;#}
            {#location.reload();#}
        {#});#}
        {#let btnAccept = document.getElementById('btnAccept')#}
        {#if (btnAccept) {#}
        {#    btnAccept.onclick = event => {#}
        {#        socket.emit(#}
        {#            'engagement_accepted',#}
        {#            {#}
        {#                node_id: "{{ node.id }}"#}
        {#            });#}
        {#    };#}
        {#};#}
        {#socket.on('processed_engagement_accepted', message => {#}
        {#    let toast = document.getElementById('nodeToast');#}
        {#    let toastText = document.getElementById('nodeToastText');#}
        {#    toastText.innerHTML = message.html;#}
        {#    toast.hidden = false;#}
            {#location.reload();#}
        {#});#}
    </script>
{% endmacro %}


{% macro sock_script(section_id) %}
    <script>
        const sock = new WebSocket('ws://' + location.host + '/sock/node/{{ node.id }}');
        sock.addEventListener('message', message => {
            let template = document.createElement('template');
            template.innerHTML = message.data
            let nChildElement = template.content.childElementCount
            document.getElementById("{{ section_id }}").appendChild(template.content.firstElementChild)
            if (nChildElement > 1) {
                document.getElementById("{{ section_id }}").appendChild(template.content.lastElementChild)
            }
            flask_moment_render_all();
            {#document.getElementById('form').scrollIntoView(false);#}
        });
        document.getElementById('form').onsubmit = event => {
            event.preventDefault();
            const textField = document.getElementById('text');
            sock.send(textField.value);
            textField.value = '';
        };
    </script>
{% endmacro %}
