{% from "form.html" import render_form %}
{% from "macro_models.html" import render_message with context %}

{% extends "index.html" %}

{% macro engagement_style(engagement) %}
    {% if engagement.state == Engagement.STATE_COMPLETED %}
        {% if engagement.rating_by_asker == 1 and engagement.rating_by_answerer == 1 %}
            {#border-success#}
            {#style="background-color: rgba(25, 135, 84, 0.05)"#}
        {% elif engagement.rating_by_asker == -1 and engagement.rating_by_answerer == 1 %}
            {#border-danger#}
            {#style="background-color: rgba(220, 53, 69, 0.05)"#}
        {% else %}
            {#border-secondary#}
            {#style="background-color: rgba(108, 117, 125, 0.05)"#}
        {% endif %}
    {% else %}
        {#border-primary#}
        {#style="background-color: rgba(13, 110, 253, 0.05)"#}
    {% endif %}
{% endmacro %}

{% macro engagement_class(engagement) %}
    {% if engagement.state == Engagement.STATE_COMPLETED %}
        {% if engagement.rating_by_asker == 1 and engagement.rating_by_answerer == 1 %}
            border-start border-2 border-success
        {% elif engagement.rating_by_asker == -1 and engagement.rating_by_answerer == 1 %}
            border-start border-2 border-danger
        {% else %}
            border-start border-2 border-secondary
        {% endif %}
    {% else %}
        border-start border-2 border-light
    {% endif %}
{% endmacro %}

{% macro button_class(user, node) %}
    {%- if (user == node.post.creator and node.post.type == "buy") or
            (user == node.creator and node.post.type == "sell") -%}
        info
    {%- elif (user == node.post.creator and node.post.type == "sell") or
            (user == node.creator and node.post.type == "buy") -%}
        warning
    {%- else -%}
        danger
    {%- endif -%}
{% endmacro %}

{% macro text_area_style(user, node) %}
    {%- if (user == node.post.creator and node.post.type == "buy") or
            (user == node.creator and node.post.type == "sell") -%}
        background-color: rgba(13, 202, 240, 0.05);border-color: #0dcaf0;height: 10rem
    {%- elif (user == node.post.creator and node.post.type == "sell") or
            (user == node.creator and node.post.type == "buy") -%}
        background-color: rgba(255, 193, 7, 0.05);border-color: #ffc107;height: 10rem
    {%- else -%}
        background-color: red
    {%- endif -%}
{% endmacro %}

{% block main_container %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-6">
            {{ render_post_card(node.post, truncate_body=False) }}

            {% set current = namespace(engagement_id=-1, timestamp=none, section_id=none) %}

            {% for message in messages_asc %}
                {% if message.engagement_id != current.engagement_id %}
                    {# message is the initial one or it does not belong to the previous div, start a new div block #}
                    {% if current.engagement_id != -1 %}
                        {# not the initial message, so there must be a previous div tag to close #}
                        </div></div>
                    {% endif %}
                    {# now start a new div tag depending on the message #}
                    {% if message.engagement is none %}
                        {# message is not associated with any engagement, put in a plain div block #}
                        {% set current.section_id = "section" + message.id|string %}
                        <div class="px-3 mb-3">
                        <div id="{{ current.section_id }}">
                    {% elif message.engagement == engagement %}
                        {# message belongs to the currently active engagement #}
                        <div class="card border-success mb-3">
                        <div class="card-header success text-success border-0 small">
                            <b>Active Engagement</b>
                        </div>
                        {% set current.section_id = "section" + message.id|string %}
                        <div class="card-body pt-0 pb-3">
                        <div id="{{ current.section_id }}">
                    {% else %}
                        {# message belongs to an engagement that is not currently active #}
                        {% set current.section_id = "section" + message.id|string %}
                        <div class="px-3 py-1 mb-3 {{ engagement_class(message.engagement) }}"
                                {{ engagement_style(message.engagement) }}>
                        <div id="{{ current.section_id }}">
                    {% endif %}
                    {% set current.engagement_id = message.engagement_id %}
                {% endif %}
                {{ render_message(message, current_user, current.timestamp) }}
                {% set current.timestamp = message.timestamp %}
            {% endfor %}

            {% if current.engagement_id == -1 %}
                {# no message, so need to create a div block #}
                {% set current.section_id = "sectionNew" %}
                <div class="rounded px-3 mb-3">
                <div id="{{ current.section_id }}">
            {% endif %}
            {# before rendering the form, close the div tag for messages to display #}
            </div>
            <form id="form">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.text(class_="form-control", placeholder="Message", style=text_area_style(current_user, node)) }}
                </div>
                <div class="d-flex justify-content-between">
                    {{ form.submit(class_="btn btn-" + button_class(current_user, node)) }}

                    {% if current_user == node.creator and (engagement is none or engagement.state != Engagement.STATE_ENGAGED) %}
                        <a class="btn btn-{{- button_class(current_user, node) -}}" href="#">Request Engagement</a>
                    {% endif %}
                    {% if engagement is not none %}
                        {% if engagement.state == Engagement.STATE_REQUESTED %}
                            {% if current_user == node.post.creator %}
                                <a class="btn btn-{{- button_class(current_user, node) -}}" href="#">Accept Engagement</a>
                            {% endif %}
                        {% elif engagement.state == Engagement.STATE_ENGAGED %}
                            {% if (current_user == engagement.asker and engagement.rating_by_asker == 0) or
                                  (current_user == engagement.answerer and engagement.rating_by_answerer == 0) %}
                                <a class="btn btn-{{- button_class(current_user, node) -}}" href="#">Rate Engagement</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </form>

            {% if engagement.state == Engagement.STATE_ENGAGED %}
                {# Active engagement uses card and card-body which means 2 divs, close the div tag for card-body #}
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    {{ ws_script(current.section_id) }}
{% endblock %}


{% macro ws_script(section_id) %}
    <!--script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', () => {
            socket.emit(
                'join',
                {
                    node_id: {{ node.id }}
                });
        });
        socket.on('message processed', html => {
            let template = document.createElement('template');
            template.innerHTML = html
            let nChildElement = template.content.childElementCount
            document.getElementById("{{ section_id }}").appendChild(template.content.firstElementChild)
            if (nChildElement > 1) {
                document.getElementById("{{ section_id }}").appendChild(template.content.lastElementChild)
            }
            flask_moment_render_all();
            window.scrollTo(0, document.body.scrollHeight);
        });
        document.getElementById('form').onsubmit = event => {
            event.preventDefault();
            const textField = document.getElementById('text');
            socket.emit(
                'message sent',
                {
                    node_id: {{ node.id }},
                    {#'engagement_id': {{ engagement.id if engagement is not none else 'null' }},#}
                    text: textField.value,
                });
            textField.value = '';
        };
    </script-->
    <script>
        const sock = new WebSocket('ws://' + location.host + '/sock/node/{{ node.id }}');
        sock.addEventListener('message', message => {
            let template = document.createElement('template');
            template.innerHTML = message.data
            let nChildElement = template.content.childElementCount
            document.getElementById("{{ section_id }}").appendChild(template.content.firstElementChild)
            if (nChildElement > 1) {
                document.getElementById("{{ section_id }}").appendChild(template.content.lastElementChild)
            }
            flask_moment_render_all();
            window.scrollTo(0, document.body.scrollHeight);
        });
        document.getElementById('form').onsubmit = event => {
            event.preventDefault();
            const textField = document.getElementById('text');
            sock.send(textField.value);
            textField.value = '';
        };
    </script>
{% endmacro %}