{% extends "index.html" %}
{% from "macros_models.html" import render_message with context %}

{% block mid_col %}
    {{ render_post_card(post, truncate_body=False) }}
    {% for node, last_timestamp in nodes %}
        {% set messages = node.messages_ordered(order_desc=True) %}
        <div class="card mb-3
        {% if messages[0].engagement is not none and messages[0].engagement.state != Engagement.STATE_COMPLETED %}
            border-success
        {% elif messages[0].type == Message.TYPE_REQUEST %}
            border-primary
        {% endif %}
        ">
            <div class="card-header border-0 small
                    {% if messages[0].engagement is not none and messages[0].engagement.state != Engagement.STATE_COMPLETED %}
                 success
                    {% elif messages[0].type == Message.TYPE_REQUEST %}
                 primary
                    {% endif %}
            ">
                <a href="{{ url_for('main.view_node', node_id=node.id) }}"
                   class="text-decoration-none
                    {% if messages[0].engagement is not none and messages[0].engagement.state != Engagement.STATE_COMPLETED %}
                        {% if messages[0].engagement.state == Engagement.STATE_ENGAGED %}
                            text-success"><b>Active engagement with {{ node.creator }}</b>
                   {% endif %}
                   {% else %}
                       {% if messages[0].type == Message.TYPE_REQUEST %}
                           text-primary"><b>Engagement requested by {{ node.creator }}</b>
                       {% else %}
                           text-muted"><b>Recent interactions with {{ node.creator }}</b>
                       {% endif %}
                   {% endif %}
                </a>
            </div>
            <a href="{{ url_for('main.view_node', node_id=node.id) }}" class="text-decoration-none">
                <div class="card-body pt-0">
                    <div class="card-text truncated-lg">
                        {% set current = namespace(timestamp=none) %}
                        {% for message in messages[:5] %}
                            {{ render_message(message, current_user, current.timestamp) }}
                            {% set current.timestamp = message.timestamp %}
                        {% endfor %}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block right_col %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title text-muted">Guide for OP</h5>
            <ul class="small">
                <li>Consider updating your post if there are multiple enquiries seeking similar clarifications</li>
                <li>You can also change / re-generate <b>hashtags</b> by editing your post, adding appropriate hashtags
                    might get you the help you need faster</li>
                <li>You can mark as your post as Done to stop</li>
                <li><b>Request Engagement</b> when you are ready to help, and earn a reward if the engagement has been rated as successful(+) by both of you</li>
                <li><b>Share</b> it with a friend or on social media / online communities with your circle of friends. Your will earn a reward if  the question is successfully answered through you. <strong>Make sure to use the Share button to generate your unique referer link!</strong></li>
                <li>Once you are done, mark your post as "Done"</li>
            </ul>
        </div>
    </div>
    {{ super() }}
{% endblock %}