{% from "form.html" import render_form %}
{% from "macro_models.html" import render_message with context %}

{% extends "index.html" %}

{% macro engagement_style(engagement) %}
    {% if engagement.state == Engagement.STATE_COMPLETED %}
        {% if engagement.rating_by_asker == 1 and engagement.rating_by_answerer == 1 %}
            {#border-success#}
                        style="background-color: rgba(25, 135, 84, 0.05)"
        {% elif engagement.rating_by_asker == -1 and engagement.rating_by_answerer == 1 %}
            {#border-red#}
                        style="background-color: rgba(220, 53, 69, 0.05)"
        {% else %}
            {#border-secondary#}
                        style="background-color: rgba(108, 117, 125, 0.05)"
        {% endif %}
    {% else %}
        {#border-primary#}
        {#        style="background-color: rgba(13, 110, 253, 0.05)"#}
        {#        style="background-color: rgba(220, 53, 69, 0.05)"#}
    {% endif %}
{% endmacro %}

{% macro engagement_class(engagement) %}
    {% if engagement.state == Engagement.STATE_COMPLETED %}
        {% if engagement.rating_by_asker == 1 and engagement.rating_by_answerer == 1 %}
{#            border border-success#}
        {% elif engagement.rating_by_asker == -1 and engagement.rating_by_answerer == 1 %}
{#            border border-red#}
        {% else %}
{#            border border-secondary#}
        {% endif %}
    {% else %}
        {#        border#}
    {% endif %}
{% endmacro %}

{% macro button_class(user, node) %}
    {%- if (user == node.post.creator and node.post.type == "buy") or
            (user == node.creator and node.post.type == "sell") -%}
        info
    {%- elif (user == node.post.creator and node.post.type == "sell") or
            (user == node.creator and node.post.type == "buy") -%}
        warning
    {%- else -%}
        danger
    {%- endif -%}
{% endmacro %}

{% macro text_area_style(user, node) %}
    {%- if (user == node.post.creator and node.post.type == "buy") or
            (user == node.creator and node.post.type == "sell") -%}
        background-color: rgba(13, 202, 240, 0.05);border-color: #0dcaf0;
    {%- elif (user == node.post.creator and node.post.type == "sell") or
            (user == node.creator and node.post.type == "buy") -%}
        background-color: rgba(255, 193, 7, 0.05);border-color: #ffc107;
    {%- else -%}
        danger
    {%- endif -%}
{% endmacro %}

{% block main_container %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-6">
            {{ render_post_card(node.post, truncate_body=False) }}

            {% set current = namespace(engagement_id=none) %}
            {% for message in messages %}
                {% if message.engagement is not none %}
                    {% if message.engagement_id != current.engagement_id %}
                        {% if current.engagement_id is not none %}
                            </div>
                        {% endif %}
                        {% if message.engagement != engagement %}
                            <div class="rounded px-3 py-1 mb-3 {{ engagement_class(message.engagement) }}"
                                    {{ engagement_style(message.engagement) }}>
                        {% else %}
                            {#                            <div class="rounded px-3 pt-1 pb-3 mb-3 {{ engagement_class(message.engagement) }}"#}
                            {#                                    {{ engagement_style(message.engagement) }}>#}
                            <div class="card border-primary">
                            <div class="card-header text-primary border-0 small"
                                 style="background-color: rgba(13, 110, 253, 0.05)">
                                <b>Active Engagement</b>
                            </div>
                            <div class="card-body pt-0 pb-3">
                        {% endif %}
                        {% set current.engagement_id = message.engagement_id %}
                    {% endif %}
                {% else %}
                {% if current.engagement_id is not none %}
                    </div>
                    {% set current.engagement_id = none %}
                {% endif %}
                {% endif %}
                {{ render_message(message, current_user) }}
            {% endfor %}
            {% if engagement is none %}
                {% if current.engagement_id is not none %}
                    </div>
                {% endif %}
                {% if current_user == node.creator %}
                    <a class="btn btn-{{- button_class(current_user, node) -}}" href="#">Request Engagement</a>
                {% endif %}
                {{ render_form(form, button_style=button_class(current_user, node), floating_input_label=True) }}
            {% else %}
                {% if engagement.state == Engagement.STATE_REQUESTED %}
                    {% if current_user == node.post.creator %}
                        <a class="btn btn{{- button_class(current_user, node) -}}" href="#">Accept Engagement</a>
                    {% endif %}
                {% elif engagement.state == Engagement.STATE_ENGAGED %}
                    {% if (current_user == engagement.asker and engagement.rating_by_asker == 0) or
                      (current_user == engagement.answerer and engagement.rating_by_answerer == 0) %}
                        <a class="btn btn-{{- button_class(current_user, node) -}}" href="#">Rate Engagement</a>
                    {% endif %}
                {% endif %}
                {{ render_form(form,
                           button_style=button_class(current_user, node),
                           text_area_style=text_area_style(current_user, node),
                           floating_input_label=True) }}
                {% if current.engagement_id is not none %}
                    </div>
                {% endif %}
            {% endif %}


        {% if current.engagement_id is not none %}
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}
