{% extends "index.html" %}
{% from "macros_models.html" import render_post_card with context %}
{% from "macros_form.html" import text_area_style, button_class with context %}

{% block mid_col %}
    {{ render_post_card(node.post, truncate_body=False) }}

    <div class="mb-3">
        <form id="form" method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.text(
                       class_="form-control",
                       placeholder="Message",
                       style=text_area_style(current_user, node.post),
                       disabled=not current_user.is_authenticated)
                }}
            </div>
            <div class="d-flex justify-content-between">
                {{ form.submit(
                       class_="btn btn-" + button_class(current_user, node.post),
                       disabled=not current_user.is_authenticated) }}
                <a class="btn btn-{{- button_class(current_user, node.post) }}
                    {% if not current_user.is_authenticated %}disabled{% endif %}"
                   href="#"
                    {% if not current_user.is_authenticated %}tabindex="-1"{% endif %}>
                    Request for Engagement
                </a>
            </div>
        </form>
    </div>
{% endblock %}


{% block right_col %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title text-muted">Think you can help or know someone who can?</h5>
            {% if not current_user.is_authenticated %}
                 <p class="small"><a href="#"> Log in</a> to contribute and earn rewards.</p>
            {% endif %}
            <ul class="small">
                <li><b>Send</b> the poster a message to get something clarified, or to let him know how you / they may
                    help</li>
                <li><b>Request for Engagement</b> when you are ready to engage, and earn / pay a reward if the
                    engagement is rated as successful(+) by both of you</li>
                <li><b>Share</b> it with a friend or on social media / online communities with your circle of friends.
                    The answerer is encouraged to reward you for any successful engagement referred through you, both
                    directly or indirectly, and sometimes a reward is even guaranteed. <strong>Make sure to use the
                    Share button to generate your unique referer link</strong></li>
                <li>Feel free to spread the word but <b>please follow the rules of each community and don't spam</b>.
                    Generally, a good way is to ask the same question in the community and offer to pay a reward using
                    the link to the post here</li>
            </ul>
        </div>
    </div>
    {{ super() }}
{% endblock %}
