{% extends "index.html" %}
{% from "macros_models.html" import render_message with context %}

{% block mid_col %}
    {{ render_post_card(post, truncate_body=False) }}
    {% for node, last_timestamp in nodes %}
        {% set messages = node.messages_ordered(order_desc=True) %}
        <div class="card mb-3
        {% if messages[0].engagement is not none and messages[0].engagement.state != Engagement.STATE_COMPLETED %}
            border-success
        {% elif messages[0].type == Message.TYPE_REQUEST %}
            border-primary
        {% endif %}
        ">
            <div class="card-header border-0 small
                    {% if messages[0].engagement is not none and messages[0].engagement.state != Engagement.STATE_COMPLETED %}
                 success
                    {% elif messages[0].type == Message.TYPE_REQUEST %}
                 primary
                    {% endif %}
            ">
                <a href="{{ url_for('main.view_node', node_id=node.id) }}"
                   class="text-decoration-none
                    {% if messages[0].engagement is not none and messages[0].engagement.state != Engagement.STATE_COMPLETED %}
                        {% if messages[0].engagement.state == Engagement.STATE_ENGAGED %}
                            text-success"><b>Active engagement with {{ node.creator }}</b>
                   {% endif %}
                   {% else %}
                       {% if messages[0].type == Message.TYPE_REQUEST %}
                           text-primary"><b>Engagement requested by {{ node.creator }}</b>
                       {% else %}
                           text-muted"><b>Recent interactions with {{ node.creator }}</b>
                       {% endif %}
                   {% endif %}
                </a>
            </div>
            <a href="{{ url_for('main.view_node', node_id=node.id) }}" class="text-decoration-none">
                <div class="card-body pt-0">
                    <div class="card-text truncated-lg">
                        {% set current = namespace(timestamp=none) %}
                        {% for message in messages[:5] %}
                            {{ render_message(message, current_user, current.timestamp) }}
                            {% set current.timestamp = message.timestamp %}
                        {% endfor %}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block right_col %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title text-muted">Guide for poster</h5>
            <ul class="small">
                <li>You can add / remove <b>hashtags</b> by <b>editing</b> your post, adding appropriate hashtags
                    might get you connected to someone faster</li>
                <li>Consider editing your post if there are multiple enquiries seeking similar clarifications</li>
                <li>You can mark your post as <b>done</b> to stop messaging from others via the post, but active
                    engagements are not affected until they are rated by both parties</li>
                <li>You can accept <b>multiple active engagements</b> at the same time as the asker or answerer, e.g.
                    you want to hear from different perspectives / cross-check the answers, but as an asker you should
                    be prepared to pay the reward for each successful engagement when you accept</li>
                <li>Interactions with the most recent message will be displayed first</li>
            </ul>
        </div>
    </div>
    {{ super() }}
{% endblock %}